/* Borders */

.button {
    border-radius: 4px;
    border: 1px solid transparent;
    border-style: solid;
    border-image-width: 10px 12px 10px 12px;
    border-image-slice: 10 12 10 12;
    border-image-repeat: stretch;
    border-image-source: url("assets/button.png");
}

.button,
.button:focus,
.button:hover,
.button:hover:focus,
.button:insensitive {
    border-image-source: url("assets/button.png");
}

.button:active,
.button:active:hover,
.button:active:focus,
.button:active:hover:focus,
.button:active:insensitive {
    border-image-source: url("assets/button.png");
}

.button.default,
.button.default:hover,
.button.default:focus,
.button.default:focus:hover {
    border-image-source: url("assets/button.png");
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-image-source: url("assets/menubaritem.png");
    border-image-slice: 8 10 1 10;
    border-image-width: 8px 10px 1px 10px;
    border-image-repeat: stretch;
}

.menuitem:hover,
.menu .menuitem:hover {
     border-image-source: url("assets/menuitem.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

/*********
 * entry *
 *********/
.entry {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.entry {
    border-image-source: url("assets/entry.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}


.entry:focus {
    border-image-source: url("assets/entry-focused.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

.entry:insensitive {
    border-image-source: url("assets/entry-disabled.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}


.primary-toolbar .entry,
.menubar.toolbar .entry,
.header-bar .entry {
    border-image-source: url("assets/entry-toolbar.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

.primary-toolbar .entry:focus,
.menubar.toolbar .entry:focus,
.header-bar .entry:focus {
    border-image-source: url("assets/entry-toolbar-focused.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.menubar.toolbar .entry.progressbar,
.menubar.toolbar .entry.progressbar,
.header-bar .entry.progressbar,
.header-bar .entry.progressbar,
.entry.progressbar {
    border-radius: 8px;
    border-width: 0;
}

/******************
 * combobox entry *
 ******************/
GtkComboBox.combobox-entry .entry:first-child,
GtkComboBox.combobox-entry .button:first-child {
    border-image-width: 10px 1px 10px 12px;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

GtkComboBox.combobox-entry .entry:last-child,
GtkComboBox.combobox-entry .button:last-child {
    border-image-width: 10px 12px 10px 1px;
    border-radius: 0 8px 8px 0;
    border-left-width: 0;
}

GtkComboBox.combobox-entry .button {
    border-image-source: url("assets/combobox-button.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}


GtkComboBox.combobox-entry .button:focus {
    border-image-source: url("assets/combobox-button-focused.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}

GtkComboBox.combobox-entry .button:insensitive {
    border-image-source: url("assets/combobox-button-disabled.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}


GtkComboBox.combobox-entry .button:active:focus {
    border-image-source: url("assets/combobox-button-pressed-focused.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:focus:insensitive,
.menubar.toolbar GtkComboBox.combobox-entry .button,
.menubar.toolbar GtkComboBox.combobox-entry .button:focus:insensitive,
.header-bar GtkComboBox.combobox-entry .button,
.header-bar GtkComboBox.combobox-entry .button:focus:insensitive {
    border-image-source: url("assets/combobox-button-toolbar.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .button:focus,
.menubar.toolbar GtkComboBox.combobox-entry .button:focus,
.header-bar GtkComboBox.combobox-entry .button:focus {
    border-image-source: url("assets/combobox-button-toolbar-focused.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .button:focus:active:focus,
.menubar.toolbar GtkComboBox.combobox-entry .button:focus:active:focus,
.header-bar GtkComboBox.combobox-entry .button:focus:active:focus {
    border-image-source: url("assets/combobox-button-toolbar-pressed-focused.png");
    border-image-slice: 10 12 10 1;
    border-image-width: 10px 12px 10px 1px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkComboBox.combobox-entry .entry:first-child,
.primary-toolbar GtkComboBox.combobox-entry .button:first-child,
.menubar.toolbar GtkComboBox.combobox-entry .entry:first-child,
.menubar.toolbar GtkComboBox.combobox-entry .button:first-child,
.header-bar GtkComboBox.combobox-entry .entry:first-child,
.header-bar GtkComboBox.combobox-entry .button:first-child {
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

.primary-toolbar GtkComboBox.combobox-entry .entry:last-child,
.primary-toolbar GtkComboBox.combobox-entry .button:last-child,
.menubar.toolbar GtkComboBox.combobox-entry .entry:last-child,
.menubar.toolbar GtkComboBox.combobox-entry .button:last-child,
.header-bar GtkComboBox.combobox-entry .entry:last-child,
.header-bar GtkComboBox.combobox-entry .button:last-child {
    border-image-width: 10px 12px 10px 0px;
    border-radius: 0 8px 8px 0;
    border-left-width: 0;
}

.notebook tab.top:active {
}

.notebook tab.right:active {
}

.notebook tab.bottom:active {
 }

.notebook tab.left:active {
 }

.trough,
.trough.highlight {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.trough {
    border-image-source: url("assets/progressbar-horizontal-trough.png");
    border-image-slice: 6 7 6 7;
    border-image-width: 6px 7px 6px 7px;
    border-image-repeat: stretch;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#ced2dc, 1.05)),
                                     to (shade (#e0e4ed, 1.05))); 
   border-radius: 0px;
}

.trough.vertical {
    border-image-source: url("assets/progressbar-vertical-trough.png");
    border-image-slice: 7 6 7 6;
    border-image-width: 7px 6px 7px 6px;
    border-image-repeat: stretch;
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (shade (#ced2dc, 1.05)),
                                     to (shade (#e0e4ed, 1.05))); 
}


GtkSwitch.trough {
    border-image-source: url("assets/switch-trough-off.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

GtkSwitch.trough:active {
    border-image-source: url("assets/switch-trough-on.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkSwitch.trough,
.menubar.toolbar GtkSwitch.trough,
.header-bar GtkSwitch.trough {
    border-image-source: url("assets/switch-trough-toolbar-off.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

.primary-toolbar GtkSwitch.trough:active,
.menubar.toolbar GtkSwitch.trough:active,
.header-bar GtkSwitch.trough:active {
    border-image-source: url("assets/switch-trough-toolbar-on.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

/* XXX temporary */
GtkSwitch.trough:insensitive,
GtkSwitch.trough:active:insensitive {
    border-image-source: url("assets/switch-trough-disabled.png");
    border-image-slice: 10 12 10 12;
    border-image-width: 10px 12px 10px 12px;
    border-image-repeat: stretch;
}

GtkSwitch.slider {
    border-image-source: url("assets/switch-button-off.png");
    border-image-slice: 9 11 9 11;
    border-image-width: 9px 11px 9px 11px;
    border-image-repeat: stretch;
}

GtkSwitch.slider:active {
    border-image: url("assets/switch-button-on.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

/* XXX temporary */
GtkSwitch.slider:insensitive {
    border-image: url("assets/switch-button-off-disabled.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

/* XXX temporary */
GtkSwitch.slider:active:insensitive {
    border-image: url("assets/switch-button-on-disabled.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    border-image: url("assets/progressbar-horizontal-fill.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
                     
}

.progressbar.vertical {
    border-image: url("assets/progressbar-vertical-fill.png") 6 5 6 5 / 6px 5px 6px 5px stretch;
    
                              
}

.scale.trough {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#84c5ff, 1.05)),
                                     to (shade (#6e96ff, 1.05))); 
}
.scale.trough {
    
}



.scale.trough.vertical {
}




.scrollbar.trough.vertical {
 border-image-source: url("assets/trough-vert.png");
    border-image-slice: 7 7 7 7;
    border-image-width: 7px 7px 7px 7px;
    border-image-repeat: stretch;
}

.scrollbar.trough.horizontal {
 border-image-source: url("assets/trough-horiz.png");
    border-image-slice: 7 7 7 7;
    border-image-width: 7px 7px 7px 7px;
    border-image-repeat: stretch;
}

.scrollbar.slider.horizontal {
 border-image-source: url("assets/slider-horiz.png");
    border-image-slice: 7 4 7 4;
    border-image-width: 7px 4px 7px 4px;
    border-image-repeat: stretch;
}


.scrollbar.slider.vertical {
 border-image-source: url("assets/slider-vert.png");
    border-image-slice: 4 7 4 7;
    border-image-width: 4px 7px 4px 7px;
    border-image-repeat: stretch;
}
