* {
    -GtkArrow-arrow-scaling: 0.6;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
    -GtkButton-inner-border: 2;
    -GtkCheckButton-indicator-size: 14;
    -GtkCheckMenuItem-indicator-size: 16;
    -GtkEntry-inner-border: 2;
    -GtkEntry-progress-border: 0;
    -GtkExpander-expander-size: 8;
    -GtkHTML-link-color: #4a90d9; /* @link_color */
    -GtkIMHtml-hyperlink-color: #4a90d9; /* @link_color */
    -GtkMenu-horizontal-padding: 2px;
    -GtkMenu-vertical-padding: 2px;
    -GtkMenuBar-internal-padding: 0;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-overlap: 1;
    -paned-handle-size: 6;
    -progressbar-min-horizontal-bar-height: 20px;
    -progressbar-min-vertical-bar-width: 20px;
    -GtkRange-trough-border: 0;
    -GtkRange-slider-width: 15;
    -GtkRange-stepper-size: 16;
    -GtkRange-trough-under-steppers: 1;
    -GtkRange-stepper-spacing: 0;
    -scale-trough-border: 0;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-trough-border: 1;
    -GtkScrollbar-has-forward-stepper: 1;
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-min-slider-length: 31;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: @error_color;
    -toolbutton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 11;
    -GtkToolbar-internal-padding: 0;
    -treeview-expander-size: 8;
    -treeview-vertical-separator: 0;
    -GtkWidget-separator-width: 2;
    -GtkWidget-separator-height: 2;
    -GtkWidget-wide-separators: true;
    -GtkWidget-link-color: #4a90d9; /* @link_color */
    -GtkWidget-visited-link-color: #4a90d9; /* @link_color */
    -window-resize-grip-width: 0;
    -window-resize-grip-height: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    background-origin: border-box;
    background-clip: padding-box;
    -gtk-icon-style: regular; /* disable symbolic icons */
}

.background {
    color: @fg_color;
    background-color: #f4f7f8;
}

/**********
 * button *
 **********/
button {
    padding: 4px 6px;

    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F7FFFF),  
                    color-stop (0.500,#DAF7FF), 
                    color-stop (0.501,#C1EBFF), 
                               to (#6AC4FF));  
    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
}

button.flat {
    background-image: none;
    border-image-source: none;
}


button:hover {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E7FFFF),  
                    color-stop (0.500,#C5F6FF), 
                    color-stop (0.501,#8AE9FF), 
                               to (#4CD5FF));   
}


button:checked:disabled,
button.flat:disabled,
button:disabled {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E5F5F8),  
                    color-stop (0.500,#DBEEF9), 
                    color-stop (0.501,#CBDEFC), 
                               to (#C5E4F5));  

}



button.flat:disabled {
    background-color: transparent;
    border-image-source: none;
}

button:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#cecece),
                                     to (#e8e8e8));

}

button:checked:focus {

}

button:active {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#FEFFFF),  
                    color-stop (0.500,#E5FEFF), 
                    color-stop (0.501,#CFF4FF), 
                               to (#7ED2FF));  
}

button:active:focus {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DCF8FE),  
                    color-stop (0.500,#9ad5ff), 
                    color-stop (0.501,#6EC4FF), 
                               to (#3491FE));  
       
}

button:checked:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E5F5F8),  
                    color-stop (0.500,#DBEEF9), 
                    color-stop (0.501,#CBDEFC), 
                               to (#C5E4F5));  
}

button.default {
    
}

button.default:hover {
   
}
button.default:focus {
    
}

button.default:focus:hover {
    
}

/******************
 * Linked Widgets *
 *****************/
.linked > entry,
.linked > button,
.linked > combobox > button {
    border-radius: 0;
    border-image-width: 10px 0 10px 0;
    border-width: 1px 0 1px 0;
}

.linked > entry:first-child,
.linked > button:first-child,
.linked > combobox:first-child > button {
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px 0 0 8px;
}

.linked > entry:last-child,
.linked > button:last-child,
.linked > combobox:last-child > button {
    border-image-width: 10px 12px 10px 0;
    box-shadow: none;
}

.linked > entry:only-child,
.linked > button:only-child,
.linked > combobox:only-child > button {
    border-image-width: 10px 12px 10px 12px;
    border-radius: 8px;
}

.primary-toolbar .linked button,
.primary-toolbar .linked button,
.header-bar .linked button {
    
}

.primary-toolbar .linked button:first-child,
.header-bar .linked button:first-child {
   
}

.primary-toolbar .linked button:last-child,
.header-bar .linked button:last-child {
 
}

.primary-toolbar .linked button:active,
.header-bar .linked button:active,
.primary-toolbar .linked button:disabled,
.header-bar .linked button:disabled {
    box-shadow: none;
}

.primary-toolbar .linked button:only-child,
.header-bar .linked button:only-child {
    box-shadow: none;
}

/* Make linked dialog buttons look like they are not linked */
messagedialog .linked.dialog-action-area button {
    border-image-width: 10px;
    box-shadow: none;
    border-radius: 7px;
}

/****************
 * cell and row *
 ****************/
.cell {
    -GtkCheckButton-indicator-size: 13;
    -GtkWidget-focus-line-width: 0;

    background-color: @base_color;
    border-radius: 0;
    border-width: 0;
}

row:selected {
     -GtkCheckButton-indicator-size: 13;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@selected_bg_color, 1.06)),
                                     to (shade (@selected_bg_color, 0.94)));
    border-top-color: shade (@selected_bg_color, 0.88);
    border-style: solid;
    border-width: 1px 0 0 0;
}

/*******************
 * check and radio *
 *******************/

/* Draw a focus ring around the contained label ... */
GtkCheckButton.text-button label {
    border: 1px solid transparent;
    border-radius: 5px;
}

GtkCheckButton.text-button:focus label {
    -GtkCheckButton-indicator-size: 13;
    background-color: transparent;
    border-style: none;
    margin: 1px 0;
}

/* ... unless it's a proper button, which already has a focus-colored border */
button.text-button:focus label {
    border: none;
    background: none;
}

check,
radio,
check:disabled,
radio:disabled {
    -GtkCheckButton-indicator-size: 13;
    background-color: transparent;
    border-style: none;
    margin: 1px 0;
}

check row {
 -GtkCheckButton-indicator-size: 13;
}
menu radio * {
    box-shadow: none;
}

/*****************
 * column-header *
 *****************/
treeview header button,
treeview header button:active {
    border-radius: 0;
    border-width: 0 1px 1px 0;
    border-image: none;
}

treeview header button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#fefeff),
                                     to (#eeeeee));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
    box-shadow: inset -1px 0 shade (@bg_color, 1.1),
                inset 0 -1px shade (@bg_color, 1.1);

    text-shadow: 0 1px @none;
}


treeview header button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#f3faff),
                                     to (#ceebf1));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
}

treeview header button:focus,
treeview header button:active:prelight,
treeview header button:active:hover,
treeview header button:active:focus,
treeview header button:focus:hover,
treeview header button:active,
treeview header button:hover {
border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
box-shadow: inset -1px 0 shade (@bg_color, 1.1),
                inset 0 -1px shade (@bg_color, 1.1);
}


column-header:nth-child(last) button {
    border-width: 0 0 1px 0;
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-color: white;
}

.content-view.view:prelight {
    background-color: shade (@bg_color, 1.03);
}

.view:selected,
.view:active,
.content-view.view:selected,
.content-view.view:active {
    /*background-color: @selected_bg_color;*/
}

.content-view.view:disabled {
    background-color: @bg_color;
}


.content-view {
    --icon-size: 40;
}

/*********
 * entry *
 *********/
entry {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.96)),
                                     to (@base_color));
    padding: 5px 7px;

    color: @text_color;
}

entry.flat, entry.flat:focus {
    padding: 2px;
}

entry selection,
entry:selected,
entry selection,
entry:selected:focus {
    background-color: @selected_bg_color;
}

entry:disabled {
    background-color: #f5f5f5;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@transparent),
                                     to (@transparent));

    color: mix (@text_color, @base_color, 0.4);
}

entry.read-only {
    background-color: #f5f5f5;
    background-image: none;
}

toolbar.primary-toolbar entry progress,
toolbar.primary-toolbar entry progress,
.header-bar entry progress,
.header-bar entry progress,
entry progress {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.8)),
                                     color-stop (0.1, shade (@selected_bg_color, 0.9)),
                                     to (shade (@selected_bg_color, 1.1)));
    border-width: 0;

    color: @selected_fg_color;
}

/* Application notification */
.app-notification,
.app-notification.frame {
    padding: 3px;
    border-width: 0 1px 1px;
    border-style: solid;
    background-color: @bg_color;
}

/************
 * expander *
 ************/
expander {
    color: @fg_color;
}

/*********
 * frame *
 *********/
frame {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: shade (@bg_color, 0.82);
    border-image: none;
    background: none;
}

frame.flat {
    border: none;
}

/**********************
 * Window Decorations *
 *********************/
decoration {
    border-radius: 10px 10px 0 0;
    border-width: 0px;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);

    /* this is used for the resize cursor area */
    margin: 10px;
}

.tiled decoration {
     border-radius: 0;
}
  
.popup decoration {
     box-shadow: none;
}
  
.ssd decoration {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23);
}
  
decoration.csd .popup {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}
  
decoration.csdtooltip,
tooltip {
    border-radius: 5px;
    box-shadow: none;
}
  
messagedialog.csd decoration {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

/****************
 * window-frame *
 ****************/

.csd.popup decoration {
    border-style: none;
    border-radius: 0;
    box-shadow: 0 3px 8px @shadow_color;
}

.solid-csd decoration {
    border-radius: 0;
    background-color: @fg_color;
    border: 1px solid darker(@fg_color);
    box-shadow: none;
    margin: 0px;
}

/************
 * iconview *
 ************/
.view {
    background-color: @base_color;
    color: @text_color;
}

view.view.cell:selected,
view.view.cell:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 1.0)),
                                     to (shade (@selected_bg_color, 0.9)));
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: shade (@selected_bg_color, 0.8);
    border-bottom-color: shade (@selected_bg_color, 0.7);

    color: @selected_fg_color;

    box-shadow: inset 1px 0 shade (@selected_bg_color, 1.05),
                inset -1px 0 shade (@selected_bg_color, 1.05),
                inset 0 1px shade (@selected_bg_color, 1.08),
                inset 0 -1px shade (@selected_bg_color, 1.0);
}

.rubberband,
view rubberband,
rubberband {
    background-color: alpha (@selected_bg_color, 0.35);
    border-color: @selected_bg_color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

view.cell {
    background-color: transparent;
}

/***********
 * infobar *
 ***********/
.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@info_bg_color, 1.04)),
                                     to (shade (@info_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @info_fg_color;

    border-color: shade (@info_bg_color, 0.8);
    border-bottom-color: shade (@info_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@info_bg_color, 1.08),
                inset -1px 0 shade (@info_bg_color, 1.08),
                inset 0 1px shade (@info_bg_color, 1.1),
                inset 0 -1px shade (@info_bg_color, 1.04);
}

.warning {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@warning_bg_color, 1.04)),
                                     to (shade (@warning_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @warning_fg_color;

    border-color: shade (@warning_bg_color, 0.8);
    border-bottom-color: shade (@warning_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@warning_bg_color, 1.08),
                inset -1px 0 shade (@warning_bg_color, 1.08),
                inset 0 1px shade (@warning_bg_color, 1.1),
                inset 0 -1px shade (@warning_bg_color, 1.04);
}

.question {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@question_bg_color, 1.04)),
                                     to (shade (@question_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @question_fg_color;

    border-color: shade (@question_bg_color, 0.8);
    border-bottom-color: shade (@question_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@question_bg_color, 1.08),
                inset -1px 0 shade (@question_bg_color, 1.08),
                inset 0 1px shade (@question_bg_color, 1.1),
                inset 0 -1px shade (@question_bg_color, 1.04);
}

.error {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@error_bg_color, 1.04)),
                                     to (shade (@error_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @error_fg_color;

    border-color: shade (@error_bg_color, 0.8);
    border-bottom-color: shade (@error_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@error_bg_color, 1.08),
                inset -1px 0 shade (@error_bg_color, 1.08),
                inset 0 1px shade (@error_bg_color, 1.1),
                inset 0 -1px shade (@error_bg_color, 1.04);
}

/********
 * menu *
 ********/
treemenu menu,
toolbar .header-bar menu,
toolbutton menu,
toolbar.primary-toolbar button menu,
.header-bar button menu,
menu {
     background-image: -gtk-gradient (linear, left top, right top,  
                   from (#C7F0FF),  
                    color-stop (0.688,#DDF7FF), 
                    color-stop (0.715,#DFF8FF), 
                               to (#E9FBFF));  
    background-color: #f0f0f0;
    border-color: #0d157e;
    padding: 0;
    border-width: 1px;
    border-style: solid;

    color: @dark_fg_color;

    box-shadow: none;

    margin: 1px;
}

toolbar menu,
combobox menu {
    background-image: -gtk-gradient (linear, left top, right top,  
                   from (#C7F0FF),  
                    color-stop (0.688,#DDF7FF), 
                    color-stop (0.715,#DFF8FF), 
                               to (#E9FBFF));  
    background-color: #f0f0f0;
    border-color: #0d157e;
    border-width: 1px;
    border-style: solid;
    padding: 2px 2px;

    color: @fg_color;

    box-shadow: none;
}

menu:selected {
    background-color: @selected_bg_color;
    color: @text_color;
    text-shadow: @none;
}

menu button,
.menu button:hover,
menu button,
.menu button:checked,
menu button,
.menu button:checked:disabled,
menu button,
.menu button:disabled,
menu button,
.menu button
{
    background-color: shade (@dark_bg_color, 1.08);
    background-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px;
}

.context-menu {
    font: regular medium;
}

/***********
 * menubar *
 ***********/
menubar {
    -GtkWidget-window-dragging: true;
    background-color: @bg_color;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DBF5FF),  
                    color-stop (0.525,#CCEEFF), 
                    color-stop (0.650,#BCE6FF), 
                               to (#9BD7FF));     
    border-width: 0px 0px 1px 0px;
    border-color: #000775;
    border-style: solid;

    color: @dark_fg_color;
    text-shadow: @none;
}

/***************
 * menubaritem *
 ***************/
menubar menuitem,
menubar menuitem,
menubarmenuitem {
background-image: none;
}

menubarmenuitem:hover,
menubar menuitem,
menubar menuitem:hover {
    background-color: #e5e5e5;
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0px 1px;
    background-clip: border-box;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E8F9FE),  
                    color-stop (0.467,#C9F2FD), 
                    color-stop (0.533,#98E6F4), 
                               to (#A2EBF7));  

    /*box-shadow: inset 0 -1px shade (@dark_bg_color, 0.95);*/
    box-shadow: none;

    color: shade (@dark_fg_color, 1.1);
    text-shadow: none;
    color: #000000;
    /*text-shadow: 0 -1px shade (@dark_bg_color, 0.7);*/
}

/************
 * menuitem *
 ************/

menu menuitem,
menu menuitem,
menuitem {
    -GtkMenuItem-horizontal-padding: 0;
    background: transparent;
    border-radius: 0;
    padding: 3px 5px 3px 5px;

}

combobox menu {
-GtkMenuItem-horizontal-padding: 0;
    background: transparent;
    border-radius: 0;
    padding: 0px;
}
/* Workaround for lp:949368 */
combobox menuitem * {
    color: @fg_color;
}

combobox menuitem *:hover {
    color: @selected_fg_color;
}

popover.background menuitem:checked:hover,
menuitem:hover,
menu menuitem,
menu menuitem:hover {
    -GtkMenuItem-horizontal-padding: 0;
    border-radius: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DDFFFF),  
                    color-stop (0.500,#C0FCFF), 
                    color-stop (0.501,#76EBFF), 
                               to (#85EFFF));   
  
    padding: 3px 5px 3px 5px;
    border-style:solid;
    color: shade (@dark_fg_color, 1.1);
    text-shadow: none;
}

menuitem check:checked,
menuitem radio:checked {
    color: @fg_color;
}

menu menuitem,
menu menuitemcheck:hover,
menu menuitem,
menu menuitemradio:hover {
    box-shadow: none;
}

treemenu menu menuitem:disabled,
treemenu menu menuitem *:disabled,
toolbar .header-bar menu menuitem,
menu menuitem:disabled,
toolbar .header-bar menu menuitem,
menu menuitem *:disabled,
toolbutton menu menuitem,
menu menuitem:disabled,
toolbutton menu menuitem,
menu menuitem *:disabled,
toolbar.primary-toolbar button menu menuitem,
menu menuitem:disabled,
toolbar.primary-toolbar button menu menuitem,
menu menuitem *:disabled,
.header-bar button menu menuitem,
menu menuitem:disabled,
.header-bar button menu menuitem,
menu menuitem *:disabled,
menuitem:disabled,
menuitem *:disabled {
    color: mix (@dark_fg_color, @dark_bg_color, 0.5);
    
}

toolbar menu menuitem,
menu menuitem:disabled,
toolbar menu menuitem,
menu menuitem *:disabled,
combobox menu menuitem,
menu menuitem:disabled,
combobox menu menuitem,
menu menuitem *:disabled {
    color: mix (@fg_color, @bg_color, 0.5);
    
}

menuitem calendar,
menuitem calendarbutton,
menuitem calendar.header,
menuitem calendar.view {
    background-color: @dark_bg_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: @dark_fg_color;
}

menuitem calendar {
    background-color: shade (@dark_bg_color, 1.3);
    background-image: none;
}

menuitem calendar:indeterminated {
    color: shade (@bg_color, 0.6);
}

menuitem entry {
    background-color: shade (@dark_bg_color, 1.3);
    background-image: none;

    color: @dark_fg_color;

    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 0.9))) 1;
    border-image-width: 1px;
}

.primary-toolbar scale trough,
.header-bar scale trough,
menuitem scale trough {
    background-color: @dark_bg_color;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@transparent),
                                     to (@transparent));   
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 1.15))) 1;
    border-image-width: 1px;
}

menuitem accelerator {
    color: #0c1b42;
}

menuitem accelerator:hover {
    color: #2e4888;
}

menuitem accelerator:disabled {
    color: alpha (mix (@dark_fg_color, @dark_bg_color, 0.5), 0.5);
    text-shadow: none;
}

menuitem > box > image + label {
    padding-left: 6px;
}

/************
 * notebook *
 ************/
notebook header.top tab { padding: 4px 6px 2px 6px; }
notebook header.top tab:active { padding-bottom: 4px; }
notebook header.bottom tab { padding: 2px 6px 4px 6px; }
notebook header.bottom tab:active { padding-top: 4px; }
notebook header.left tab { padding: 2px 4px 2px 6px; }
notebook header.left tab:active { padding-right: 5px; }
notebook header.right tab { padding: 2px 6px 2px 4px; }
notebook header.right tab:active { padding-left: 5px; }

/* give active tab a background, as it might be dragged across of others when reordering */
notebook tab:active {
    background-color: #ffffff;
    box-shadow: none;
}

notebook > header {
    border-width: 1px; 

    border-color: #ffffff;
    border-style: solid; 
    background: @none; 
}

/* Draw a border between tabs and content ... */
notebook > header.top { border-bottom-width: 1px; }
notebook > header.right { border-left-width: 1px; }
notebook > header.left { border-right-width: 1px; }
notebook > header.bottom { border-top-width: 1px; }

/* ... unless the content is in a frame (thus having a border itself */
notebook > headerframe.top { border: none; }
notebook > headerframe.right { border: none; }
notebook > headerframe.left { border: none; }
notebook > headerframe.bottom { border: none; }

notebook header.top tab {
    border-color: #000775;
    border-width: 1px 1px 0px 1px;
    border-radius: 0px;
}

notebook header.right tab {
    border-color: #000775;
    border-width: 1px 1px 1px 0px;
}

notebook header.left tab {
    border-color:  #000775;
    border-width: 1px 0px 1px 1px;
}

notebook header.bottom tab {
    border-color: #000775;
    border-width: 0px 1px 1px 1px;
}

notebook GtkDrawingArea {
        background-color: shade (@bg_color, 1.02);
}

/*****************************
* additional blx tab section *
*****************************/
notebook tab {
    
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F3FCFF),  
                    color-stop (0.471,#E2F6FF), 
                    color-stop (0.529,#CEEEFE), 
                               to (#B0DFF7));

background-color: #ffffff;

}

notebook tab:active {
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#ffffff, 1.0)),
                                     to (shade (#ffffff, 1.0)));
background-color: @bg_color;
}

/* margin 0px fix*/

notebook {
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#fff, 1.0)),
                                     to (shade (#fff, 1.0)));
background-color: #ffffff;
border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (#000775),
                                 to (#000775)) 1;

    background-clip: border-box;
    border-radius: 1px;
    border-style: solid;
    padding: 0px;
    margin: 0px;

}

/******************
 * pane separator *
 ******************/
.sidebar paned > separator,
paned > separator {
    background-color: transparent;
    border-color: shade (@bg_color, 0.84);
}

/*************************
 * progressbar and scale *
 *************************/
scale,
progressbar {
    border-radius: 8px;
    border-width: 0px;
    padding: 1px;
}

.scale trough {
    margin: 7px 0 7px 0;
    border-width: 1px;
    border-style: solid;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (#0f41cd),
                                 to (#0f41cd)) 1;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#c6f0ff, 1.0)),
                                     to (shade (#c6f0ff, 1.0))); 
}

.scale trough:disabled,
.scale trough.vertical:disabled {
      border-width: 1px;
    border-style: solid;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (#4b4b4b),
                                 to (#4b4b4b)) 1;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#e5e5e5, 1.0)),
                                     to (shade (#e5e5e5, 1.0))); 
}


.scale trough.vertical {
    margin: 0 7px 0 7px;
    border-width: 1px;
    border-style: solid;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (#0f41cd),
                                 to (#0f41cd)) 1;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#c6f0ff, 1.0)),
                                     to (shade (#c6f0ff, 1.0))); 
}


progressbar.vertical progress,
progressbar.vertical progress row,
progressbar.vertical progress row,
progressbar.vertical progress row:selected,
progressbar.vertical progress row:selected:focus,
progressbar.vertical progress row:nth-child(odd) {
    border-radius: 2px;
    border-width: 0px;
    border-style: solid;
}

/* Begin*/
progressbar.vertical progress,
progressbar.vertical progress row,
progressbar.vertical progress row,
progressbar.vertical progress row:selected,
progressbar.vertical progress row:selected:focus {
    background-image: -gtk-gradient (linear,
                                     right top, left bottom,
                                     from (alpha (#ffffff, 0.58)),
                                     color-stop (0.5,alpha (#ffffff, 0.2)),
                                     color-stop (0.5001,alpha (#ffffff, 0.0)),
                                     to (alpha (#ffffff, 0.0))),
                      -gtk-gradient (linear, left top, right top,  
                   from (#004EAE),  
                    color-stop (0.206,#1D6ABC),   
                    color-stop (0.225,#206DBD), 
                    color-stop (0.441,#4692CF),  
                    color-stop (0.461,#4A96D1), 
                    color-stop (0.618,#65B1DE), 
                    color-stop (0.637,#69B4E0), 
                    color-stop (0.755,#7DC9EA),  
                    color-stop (0.775,#81CCEC), 
                    color-stop (0.912,#99E3F7), 
                    color-stop (0.931,#9DE7F9), 
                               to (#A9F3FE));  
}

progressbar.vertical {
     background-image: -gtk-gradient (linear,
                                     left top, right bottom,
                                     from (alpha (#ffffff, 0.58)),
                                     color-stop (0.5,alpha (#ffffff, 0.2)),
                                     color-stop (0.5001,alpha (#ffffff, 0.0)),
                                     to (alpha (#ffffff, 0.0))),
                      -gtk-gradient (linear, left bottom, left top,  
                   from (#004EAE),  
                    color-stop (0.206,#1D6ABC),   
                    color-stop (0.225,#206DBD), 
                    color-stop (0.441,#4692CF),  
                    color-stop (0.461,#4A96D1), 
                    color-stop (0.618,#65B1DE), 
                    color-stop (0.637,#69B4E0), 
                    color-stop (0.755,#7DC9EA),  
                    color-stop (0.775,#81CCEC), 
                    color-stop (0.912,#99E3F7), 
                    color-stop (0.931,#9DE7F9), 
                               to (#A9F3FE));  
}

trough,
trough row,
trough row,
trough row:selected,
trough row:selected:focus {
      background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff));   
    border-style: solid;
    border-width: 1px;
    border-color: #7690a6;
    border-radius: 1px;
    color: @text_color;
}

trough.vertical {
    background-image: -gtk-gradient (linear, left top, right top,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff));   
}

/* level bars as used for password quality or remaining power */

GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 3;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 3;
    -GtkLevelBar-min-block-height: 34;
}

levelbar trough {
    padding: 2px;
}

levelbar block {
    border-width: 1px;
    border-style: solid;

    border-color: @selected_bg_color;
    background-color: #db6a3c;
}

levelbar.indicator-continuous.fill-block {
    padding: 2px;
    border-radius: 2px;
}

levelbar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

levelbar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

levelbar block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

levelbar block.level-low {
    border-color: shade(@warning_bg_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_bg_color, 1.3),
                                      @warning_bg_color 75%,
                                      shade(@warning_bg_color, 0.90)
                                      );
}

levelbar block.empty-fill-block {
    background-color: transparent;
    background-image: none;
    border-color: alpha(@bg_color, 0.1);
}

scale {
    -GtkRange-slider-width: 18;
    -GtkRange-trough-border: 0;
    -scale-slider-length: 14;
    -GtkWidget-focus-line-width: 0;
}

scale.vertical {
    -scale-slider-length: 14;
}

scale slider {
    background-color: transparent;
}



scale.mark {
    border-color: shade (@bg_color, 0.8);
}

/*************
 * scrollbar *
 *************/
scrollbar {
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 1;
	-GtkScrollbar-min-slider-length: 20; 
	-GtkScrollbar-has-forward-stepper: 1;
	-GtkScrollbar-has-backward-stepper: 1;
	-GtkScrollbar-has-secondary-forward-stepper: 0;
	-GtkScrollbar-has-secondary-backward-stepper: 0;
	-GtkRange-arrow-scaling: 0.0;
	-GtkRange-trough-border: 0;
	-GtkRange-stepper-size: 16;
	-GtkRange-slider-width: 16; 
	-GtkScrollbar-slider-width: 16; 
	color: @transparent;
}

scrollbar button,
.scrolbarbutton:prelight,
scrollbar button:disabled,
scrollbar button:disabled {
	-unico-outer-stroke-width: 0;
	border-width: 0px;
    border-radius: 0px;
	border-style: none;
    border-image: none;
    background-color: @transparent;
	
}

scrollbar.vertical button.up,
scrollbar.vertical button.up:disabled {
	background-image: url("assets/stepper-up-insens.png");
        border-image: url("assets/stepper-up-insens.png");
	border-width: 0px;
	border-style: none;
        color: @transparent;
}

scrollbar.vertical button.down,
scrollbar.vertical button.down:disabled {
	background-image: url("assets/stepper-down-insens.png");
        border-image: url("assets/stepper-down-insens.png");
	border-width: 0px;
	border-style: none;
}

scrollbar.horizontal button.up,
scrollbar.horizontal button.up:disabled {
	background-image: url("assets/stepper-left-insens.png");
        border-image: url("assets/stepper-left-insens.png");
	border-width: 0px;
	border-style: none;
}

scrollbar.horizontal button.down,
scrollbar.horizontal button.down:disabled {
	background-image: url("assets/stepper-right-insens.png");
        border-image: url("assets/stepper-right-insens.png");
	border-width: 0px;
	border-style: none;
}

scrollbar.vertical button.up:prelight {
	background-image: url("assets/stepper-up-prelight.png");
        border-image: url("assets/stepper-up-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

scrollbar.vertical button.down:prelight {
	background-image: url("assets/stepper-down-prelight.png");
        border-image: url("assets/stepper-down-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

scrollbar.horizontal button.up:prelight {
	background-image: url("assets/stepper-left-prelight.png");
        border-image: url("assets/stepper-left-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

scrollbar.horizontal button.down:prelight {
	background-image: url("assets/stepper-right-prelight.png");
        border-image: url("assets/stepper-right-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
   
}

scrollbartrough {
	
}

scrollbar.vertical trough {
        border-width: 1px;
        border-style: solid ; 
        border-color: #1b2384;
	background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (#fffbd6),
                                     to (#fffffb));
}

scrollbar.horizontal trough {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#fffbd6),
                                     to (#fffffb));
}



scrollbar slider,
scrollbar slider {
        border-width: 1px;
        border-style: solid ; 
        border-color: #979797;
	border-radius: 2px;
        
       
}

scrollbar slider,
scrollbar slider:hover {
        border-width: 1px;
        border-style: solid ; 
        border-color: #3c7fb1;
	border-radius: 2px;
     
}


scrollbar.vertical slider,
scrollbar.vertical .slider {
background-image:  -gtk-gradient (linear, left top, right top,  
                   from (#d3f5ff),   
                    color-stop (0.55,#b7e2ff), 
                    color-stop (0.551,#97d2ff),
                               to (#75b6ff));
 			 
}

scrollbar.horizontal slider,
scrollbar.horizontal .slider {
 background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#d3f5ff),   
                    color-stop (0.55,#b7e2ff), 
                    color-stop (0.551,#97d2ff),
                               to (#75b6ff));

}

scrollbar.vertical slider,
scrollbar.vertical .slider:hover {
background-image:  -gtk-gradient (linear, left top, right top,  
                   from (#fff497),   
                    color-stop (0.55,#ffd754), 
                    color-stop (0.551,#ffc51d),
                               to (#ff9f02)); 
}

scrollbar.horizontal slider,
scrollbar.horizontal .slider:hover {
background-image:   -gtk-gradient (linear, left top, left bottom,  
                    from (#fff497),   
                    color-stop (0.55,#ffd754), 
                    color-stop (0.551,#ffc51d),
                               to (#ff9f02)); 
}


/* overlay scrollbar */
OsThumb {
    color: shade (@fg_color, 1.6);
}

OsThumb:selected,
GtkScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
GtkScrollbar:active {
    background-color: shade (@bg_color, 0.6);
}

OsThumb:disabled,
GtkScrollbar:disabled {
    background-color: shade (@bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
.ubuntu-online-accountsframe,
GtkScrolledWindowframe {
    border-top-color: shade (@bg_color, 0.84);
    border-right-color: shade (@bg_color, 0.76);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
    border-radius: 0;
    border-style: solid;
}

.ubuntu-online-accountsframe {
    border-top-width: 0;
}

/*************
 * separator *
 *************/
separator,
.separator {
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: shade (@bg_color, 0.92);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

treeview.viewseparator,
.separator,
treeview.view separator,
.separator,
treeview separator,
separator,
.separator,
separator,
separator:hover,
.separator:hover {
    color: shade (@bg_color, 0.92);
}

separator,
.separator.horizontal {
    border-width: 1px 0 1px 0;
}

separator,
.separator.vertical {
    border-width: 0 1px 0 1px;
}

combobox separator,
.separator {
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

button separator,
.separator,
buttonseparator,
.separator {
    border-color: shade (@button_bg_color, 0.9);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

button separator,
.separator:disabled,
buttonseparator,
.separator:disabled {
    border-color: shade (@button_insensitive_bg_color, 0.96);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.3);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.3);
}

menuitemseparator,
.separator {
    -GtkMenuItem-horizontal-padding: 0;
    border: none;
    color: @dark_bg_color;
}

treemenu menuitemseparator,
.separator,
toolbar .header-bar menuitemseparator,
.separator,
GtkMenuToolButton menuitemseparator,
.separator,
toolbar.primary-toolbar button menuitemseparator,
.separator,
.header-bar button menuitemseparator,
.separator,
menuitemseparator,
.separator {
    border-color: shade (@dark_bg_color, 0.99);
    border-bottom-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

toolbar menuitemseparator,
.separator,
combobox menuitemseparator,
.separator {
    border-color: shade (@bg_color, 0.92);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

/***********
 * sidebar *
 ***********/
.sidebar row:selected {
    text-shadow: none ;
}

.sidebar frame {
    border-width: 0;
}

placessidebar.sidebar .sidebar-icon {
    padding-left: 10px;
    padding-right: 10px;
}


/**************
 * spinbutton *
 **************/
spinbutton button:active,
spinbutton button:disabled,
spinbutton button {
    border-radius: 0;
}

spinbutton button:active:nth-child(last),
spinbutton button:disabled:nth-child(last)
spinbutton button:nth-child(last) {
    border-radius: 0 7px 7px 0;
}

spinbutton button,
spinbutton button:active,
spinbutton button:hover {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border-width: 0 0 0 1px;
    border-left-color: alpha (shade (@bg_color, 0.6), 0.22);
}

spinbutton button:active {
    background-image: -gtk-gradient (radial, center center, 0.0, center center, 0.5,
                                     from (alpha (@selected_bg_color, 0.2)),
                                     to (alpha (@selected_bg_color, 0.0)));
}

spinbutton button:disabled {
    border-left-color: alpha (shade (@bg_color, 0.6), 0.18);

    color: shade (@bg_color, 0.66);
}

.spinbutton,
.spinbutton:hover {
    color: @fg_color;
}

/***********
 * spinner *
 ***********/
@keyframes spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    color: @selected_bg_color;
    opacity: 0;
}

spinner:checked {
    animation: spinner 1s infinite linear;
    opacity: 1;
}

spinner:checked:disabled {
    opacity: 0.5;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
switch {
    
    padding: 0;
}

switchtrough {
    
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#cecece),
                                     to (#e8e8e8));

    color: @fg_color;
    text-shadow: none;
}

switchtrough:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.93)),
                                     to (shade (@selected_bg_color, 0.99)));

    color: @selected_fg_color;
    text-shadow: none;
}

switch:focus {
    outline: 2px solid @focus_color;
    outline-offset: -2px;
    outline-radius: 6px;
}

/* XXX temporary */
switchtrough:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.93)),
                                     to (shade (@bg_color, 0.99)));

    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

switch slider {
    padding: 1px;
    border-radius: 6px;
    border-style: solid;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.08)),
                                     color-stop (0.5, @button_bg_color),
                                     to (shade (@button_bg_color, 0.94)));

    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
}

/************
 * textview *
 ************/
GtkTextView {
    background-color: @base_color;
}

.header-bar {
    padding: 2px 6px;
}

/*
 * Header Bars
 *
 * The following rules only style header bars when they are used as a window's
 * titlebar widget (i.e., they have headerbar.titlebar set as well).
 *
 * Some applications reuse their header bar as a primary toolbar on desktops
 * that prefer showing traditional title bars. The rules for those are further
 * down grouped with normal toolbars.
 */
headerbar.titlebar.header-bar {
    padding: 2px;
 /*  importing menubar not this:  background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF));   */

background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DBF5FF),  
                    color-stop (0.525,#CCEEFF), 
                    color-stop (0.650,#BCE6FF), 
                               to (#9BD7FF));    


    border-bottom-color: #000085;
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-radius: 0;


    color: @dark_fg_color;
    text-shadow: none;


}

headerbar.titlebar.header-bar .title {
    font: bold;
}

headerbar.titlebar.header-bar .subtitle {
    font-size: smaller;
    opacity: 0.5;
}

.solid-csd headerbar.titlebar.header-bar,
.maximized headerbar.titlebar.header-bar {
    border-radius: 0;
    border: none;
}

.maximized headerbar.titlebar.header-bartoolbar-mode {
    box-shadow: none;
}

headerbar.titlebar.header-bar button.titlebutton {
    background-clip: padding-box;
    border: 1px solid #383734;
    color: #3d3c37;
    icon-shadow: 0px 1px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 0;
    box-shadow: none;
    background-image: linear-gradient(to top, #effffc, #c9d9d9 50%, #effffc);
}

headerbar.titlebar.header-bar button.titlebutton.close {
    color: #323112;
    icon-shadow: 0 1px rgba(255, 255, 255, 0.25);
    background-image: linear-gradient(to top, #fd8459, #f17750 50%, #fd8459);
}

headerbar.titlebar.header-bar button.titlebutton.close:hover {
    background-image: linear-gradient(to top, #e24f1b, #f17750 50%, #fba992);
}

headerbar.titlebar.header-bar button.titlebutton:hover {
    background-image: linear-gradient(to top, #969696, #bdbdbd 50%, #cacaca);
}

headerbar.titlebar.header-bar button.titlebutton:active {
    icon-shadow: none;
    background-image: linear-gradient(to top, #77766f, #74736c);
}

headerbar.titlebar.header-bar button.titlebutton.close:active {
    background-image: linear-gradient(to top, #ec6e44, #e76b41);
}


/***********
 * toolbar *
 ***********/
toolbar {
 background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF));   
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-bottom-color: #000085;
    padding: 1px;

    color: @fg_color;
    text-shadow: none;
}

/*******************
 * primary-toolbar *
 *******************/
.primary-toolbar,
.primary-toolbar toolbar,
.primary-toolbartoolbar,
menubartoolbar,
.header-bar,
window > GtkVBox > .dock,
window > GtkVBox > GtkHandleBox > GtkHBox,
window > GtkVBox > .dock > GtkHBox > GtkToolbar  {
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF)); 
    
    border-bottom-color: #000085;
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-radius: 0;

    color: @dark_fg_color;
    text-shadow: none;

    box-shadow: none;
}

.primary-toolbar :disabled,
.header-bar :disabled {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

toolbar.primary-toolbar button,
.header-bar button,
toolbar button {
    border-image-source: none;
   background: transparent;
    color: @dark_fg_color;
    text-shadow: none;
     padding: 4px;
}

.primary-toolbartoolbar.horizontal button
toolbar.primary-toolbar button,
menubartoolbar button {
    border-image: url("assets/button-toolbar.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}


.primary-toolbar button.flat:hover {
    background: transparent;
    color: @dark_fg_color;
    text-shadow: none;
    border-image-source: url("assets/button-toolbar.png");
    padding: 4px;
}

toolbar button.flat
.primary-toolbar button.flat {
    border-image-source: none;
    background: transparent;
}

toolbar button:focus,
toolbar.primary-toolbar button:focus,
.header-bar button:focus {
    border-image-source: url("assets/button-toolbar-focused.png");

}

combobox button.combo:checked,
toolbar button:checked,
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:checked,
.header-bar button:active,
.header-bar button:checked {
    border-image-source: url("assets/button-toolbar-active.png");
}

combobox button.combo:checked:focus,
toolbar button:checked:focus,
toolbar.primary-toolbar button:active:focus,
toolbar.primary-toolbar button:checked:focus,
.header-bar button:active:focus,
.header-bar button:checked:focus {

    border-image-source: url("assets/button-toolbar-active-focused.png");
}


.primary-toolbartoolbar.horizontal  button:hover,
combobox button.combo:hover,
toolbar.primary-toolbar button:hover,
toolbar.primary-toolbar button:checked,
.header-bar button:hover,
.header-bar button:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DDFFFF),  
                    color-stop (0.500,#C0FCFF), 
                    color-stop (0.5001,#76EBFF), 
                               to (#83EEFF)); 
   border-image-source: url("assets/button-toolbar.png");
}

/*
blxtry
*/



toolbar .linked > button,
.header-bar .linked > button,
headerbar.titlebar.header-bar .linked > button {
    border-style: solid;
    box-shadow:none;
    border-image-source: url("assets/button-toolbar.png");
    border-image-width: 10px 0 10px 0;
}


/* middle button */
.header-bar button.raised.linked,
.header-bar button.raised.linked:active,
.header-bar button.raised.linked:checked,
.header-bar button.raised.linked:disabled,
.header-bar .raised.linked button,
.header-bar .raised.linked button:checked,
.header-bar .raised.linked button:active,
.header-bar .raised.linked button:hover,
.header-bar .raised.linked button:disabled,
.header-bar .linked button,
.header-bar .linked button:focus,
.header-bar .linked button:focus:active,
.header-bar .linked button:active:focus,
.header-bar .linked button:prelight,
.header-bar .linked button:active,
.header-bar .linked button:checked,
.header-bar .linked button:hover,
.header-bar .linked button:backdrop,
.header-bar .linked button:disabled {
border-right-width: 0;
    border-left-width: 0;
    border-image-width: 10px 0 10px 0;
    border-radius: 0px;
     
}

/* leftmost button */
.header-bar button.raised.linked:first-child,
.header-bar button.raised.linked:active:first-child,
.header-bar button.raised.linked:disabled:first-child,
.header-bar .raised.linked button:first-child,
.header-bar .raised.linked button:active:first-child,
.header-bar .raised.linked button:disabled:first-child,
.header-bar .linked button:first-child,
.header-bar .linked button:active:first-child,
.header-bar .linked button:disabled:first-child {
 border-left-width: 1px;
    border-right-width: 0;
    border-image-width: 10px 0 10px 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    
}

/* rightmost button */
.header-bar button.raised.linked:last-child,
.header-bar button.raised.linked:active:last-child,
.header-bar button.raised.linked:checked:last-child,
.header-bar button.raised.linked:disabled:last-child,
.header-bar .raised.linked button:last-child,
.header-bar .raised.linked button:active:last-child,
.header-bar .raised.linked button:checked:last-child,
.header-bar .raised.linked button:disabled:last-child,
.header-bar .linked button:last-child,
.header-bar .linked button:active:last-child,
.header-bar .linked button:checked:last-child,
.header-bar .linked button:disabled:last-child {
 border-left-width: 0;
    border-right-width: 1px;
    border-image-width: 10px 12px 10px 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
   
}

/* linked single button */
.header-bar button.raised.linked:only-child,
.header-bar button.raised.linked:active:only-child,
.header-bar button.raised.linked:disabled:only-child,
.header-bar .raised.linked button:only-child,
.header-bar .raised.linked button:active:only-child,
.header-bar .raised.linked button:disabled:only-child,
.header-bar .linked button:only-child,
.header-bar .linked button:active:only-child,
.header-bar .linked button:disabled:only-child {
  border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 10px 12px 10px 12px;
    border-radius: 0px;
    /*box-shadow: none;*/
}

/*
blxtryend
*/

/*
tryheader
*/

/* middle button */
toolbar button.raised.linked,
toolbar button.raised.linked:active,
toolbar button.raised.linked:checked,
toolbar button.raised.linked:disabled,
toolbar .raised.linked button,
toolbar .raised.linked button:checked,
toolbar .raised.linked button:active,
toolbar .raised.linked button:hover,
toolbar .raised.linked button:disabled,
toolbar .linked button,
toolbar .linked button:focus,
toolbar .linked button:focus:active,
toolbar .linked button:active:focus,
toolbar .linked button:prelight,
toolbar .linked button:active,
toolbar .linked button:checked,
toolbar .linked button:hover,
toolbar .linked button:backdrop,
toolbar .linked button:disabled {
border-right-width: 0;
    border-left-width: 0;
    border-image-width: 10px 0 10px 0;
    border-radius: 0px;
     
}

/* leftmost button */
toolbar button.raised.linked:first-child,
toolbar button.raised.linked:active:first-child,
toolbar button.raised.linked:disabled:first-child,
toolbar .raised.linked button:first-child,
toolbar .raised.linked button:active:first-child,
toolbar .raised.linked button:disabled:first-child,
toolbar .linked button:first-child,
toolbar .linked button:active:first-child,
toolbar .linked button:disabled:first-child {
 border-left-width: 1px;
    border-right-width: 0;
    border-image-width: 10px 0 10px 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    
}

/* rightmost button */
toolbar button.raised.linked:last-child,
toolbar button.raised.linked:active:last-child,
toolbar button.raised.linked:checked:last-child,
toolbar button.raised.linked:disabled:last-child,
toolbar .raised.linked button:last-child,
toolbar .raised.linked button:active:last-child,
toolbar .raised.linked button:checked:last-child,
toolbar .raised.linked button:disabled:last-child,
toolbar .linked button:last-child,
toolbar .linked button:active:last-child,
toolbar .linked button:checked:last-child,
toolbar .linked button:disabled:last-child {
 border-left-width: 0;
    border-right-width: 1px;
    border-image-width: 10px 12px 10px 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
   
}

/* linked single button */
toolbar button.raised.linked:only-child,
toolbar button.raised.linked:active:only-child,
toolbar button.raised.linked:disabled:only-child,
toolbar .raised.linked button:only-child,
toolbar .raised.linked button:active:only-child,
toolbar .raised.linked button:disabled:only-child,
toolbar .linked button:only-child,
toolbar .linked button:active:only-child,
toolbar .linked button:disabled:only-child {
  border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 10px 12px 10px 12px;
    border-radius: 0px;
    /*box-shadow: none;*/
}


/*
tryheader
end
*/
NemoPathBar:dir(ltr).raised.linked button.text-button,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:only-child {
    border-image-width: 10px 12px 10px 0px;
    border-image-source: url("assets/button-pathbar.png");
    border-radius: 4px;
    padding: 4px;
}

.path-bar.linked button:dir(ltr),
.path-bar.linked button:dir(ltr):hover,
.path-bar.linked button:dir(ltr):hover:active,
.path-bar.linked button:dir(ltr):checked,
.path-bar.linked button:dir(ltr):checked:hover,
.path-bar.linked button:dir(ltr):checked:hover:active,
.path-bar.linked button:dir(ltr):last-child,
.path-bar.linked button:dir(ltr):hover:last-child,
.path-bar.linked button:dir(ltr):hover:active:last-child,
.path-bar.linked button:dir(ltr):checked:last-child,
.path-bar.linked button:dir(ltr):checked:hover:last-child,
.path-bar.linked button:dir(ltr):checked:hover:active:last-child {
	border-image-width: 10px 12px 10px 0px;
    border-image-source: url("assets/button-pathbar.png");
    border-radius: 4px;
    padding: 6px;
}


.path-bar.linked button:dir(ltr):active:first-child,
.path-bar.linked button:dir(ltr):first-child,
.path-bar.linked button:dir(ltr):hover:first-child,
.path-bar.linked button:dir(ltr):hover:active:first-child,
.path-bar.linked button:dir(ltr):checked:first-child,
.path-bar.linked button:dir(ltr):checked:hover:first-child,
.path-bar.linked button:dir(ltr):checked:hover:active:first-child {
    border-image-width: 10px 12px 10px 12px;
    border-image-source: url("assets/button-pathbar.png");
    border-radius: 4px;
    padding: 6px;
}
/* try nemo*/
/*try nemo end*/

toolbar .linked button,
.header-bar .linked button,
headerbar.titlebar.header-bar .linked button {

}

toolbar .linked button,
.header-bar .linked button,
headerbar.titlebar.header-bar .linked button {
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff)); 
}

toolbar .linked button:checked,
.header-bar .linked button:checked,
headerbar.titlebar.header-bar .linked button:checked,
toolbar .linked button:hover,
.header-bar .linked button:hover,
headerbar.titlebar.header-bar .linked button:hover {
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DDFFFF),  
                    color-stop (0.500,#76EBFF), 
                    color-stop (0.5001,#76EBFF), 
                               to (#DDFFFF)); 
}

toolbar .linked button:disabled,
.header-bar .linked button:disabled,
headerbar.titlebar.header-bar .linked button:disabled {
background-image: none;
}

.primary-toolbartoolbar.horizontal  button:active,
combobox button.combo:checked,
toolbar.primary-toolbar button:active,
.header-bar button:active {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#B2E8FF),  
                    color-stop (0.5,#A8E8FF), 
                    color-stop (0.5001,#5BCCFF), 
                               to (#67D0FF));  
    border-image-source: url("assets/button-toolbar.png");
    text-shadow: none;
}



toolbar button:checked:disabled,
toolbar button:disabled,
toolbar.primary-toolbar button:checked:disabled,
toolbar.primary-toolbar button:disabled,
.header-bar button:checked:disabled,
.header-bar button:disabled {
    text-shadow: none;
}

toolbar.primary-toolbar button:disabled,
.header-bar button:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.01)),
                                     to (shade (@dark_bg_color, 0.99)));
}

.primary-toolbar button.flat:disabled {
    background-image: none;
}

toolbar.primary-toolbar button:checked:disabled,
.header-bar button:checked:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.94)),
                                     to (shade (@dark_bg_color, 1.02)));
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar separator,
.separator,
.primary-toolbar separator,
.separator:disabled,
.header-bar GtkSeparatorToolItem,
.header-bar separator,
.separator,
.header-bar separator,
.separator:disabled {
    border-color: alpha (shade (@dark_bg_color, 0.94), 0.35);
    border-bottom-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

/* inline-toolbar */
.inline-toolbartoolbar {
    -GtkToolbar-button-relief: normal;

    border-right-color: shade (@bg_color, 0.86);
    border-bottom-color: shade (@bg_color, 0.88);
    border-left-color: shade (@bg_color, 0.86);

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#f2f1ef, 0.93)),
                                     color-stop (0.08, #f2f1ef),
                                     to (#ffffff));
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 3px 4px 4px 4px;
}

toolbar.inline-toolbar button {
    padding: 4px;

    icon-shadow: 0 1px shade (@bg_color, 1.16);
}

/* Middle button */
toolbar.inline-toolbar button,
toolbar.inline-toolbar button:active,
toolbar.inline-toolbar button:focus,
toolbar.inline-toolbar button:focus:active,
toolbar.inline-toolbar button:disabled,
.inline-toolbartoolbar toolbutton button,
.inline-toolbartoolbar toolbutton button:active,
.inline-toolbartoolbar toolbutton button:focus,
.inline-toolbartoolbar toolbutton button:focus:active,
.inline-toolbartoolbar toolbutton button:disabled {
    border-image-source: url("assets/button-toolbar-active.png");
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 10px 0 10px 0;
    border-radius: 0;
}

/* Leftmost button */
toolbar.inline-toolbar button:first-child,
toolbar.inline-toolbar button:active:first-child,
toolbar.inline-toolbar button:focus:first-child,
toolbar.inline-toolbar button:focus:active:first-child,
toolbar.inline-toolbar button:disabled:first-child,
.inline-toolbartoolbar toolbutton:first-child button,
.inline-toolbartoolbar toolbutton:first-child button:active,
.inline-toolbartoolbar toolbutton:first-child button:focus,
.inline-toolbartoolbar toolbutton:first-child button:focus:active,
.inline-toolbartoolbar toolbutton:first-child button:disabled {
    border-left-width: 1px;
    border-right-width: 0;
    border-image-width: 10px 0 10px 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
toolbar.inline-toolbar button:last-child,
toolbar.inline-toolbar button:active:last-child,
toolbar.inline-toolbar button:focus:last-child,
toolbar.inline-toolbar button:focus:active:last-child,
toolbar.inline-toolbar button:disabled:last-child,
.inline-toolbartoolbar toolbutton:last-child button,
.inline-toolbartoolbar toolbutton:last-child button:active,
.inline-toolbartoolbar toolbutton:last-child button:focus,
.inline-toolbartoolbar toolbutton:last-child button:focus:active,
.inline-toolbartoolbar toolbutton:last-child button:disabled {
    border-left-width: 0;
    border-right-width: 1px;
    border-image-width: 10px 12px 10px 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Single button */
toolbar.inline-toolbar button:only-child,
toolbar.inline-toolbar button:active:only-child,
toolbar.inline-toolbar button:focus:only-child,
toolbar.inline-toolbar button:focus:active:only-child,
toolbar.inline-toolbar button:disabled:only-child,
.inline-toolbartoolbar toolbutton:only-child button,
.inline-toolbartoolbar toolbutton:only-child button:active,
.inline-toolbartoolbar toolbutton:only-child button:focus,
.inline-toolbartoolbar toolbutton:only-child button:focus:active,
.inline-toolbartoolbar toolbutton:only-child button:disabled {
    border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 10px 12px 10px 12px;
    border-radius: 8px;
}

/***********
 * tooltip *
 ***********/
tooltip,
tooltip {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#ffff8a),
                                     color-stop (0.50, shade (#fff68b, 1.00)),
                                     to (shade (#ffeb91, 1.05)));
    box-shadow: inset 1px 0 #ffffd4,
                inset -1px 0 #ffffd4,
                inset 0 1px #ffffd4,
                inset 0 -1px #ffffd4;
    border-color: #934d2a;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

    color: @fg_color;
}

/************
 * treeview *
 ************/
treeview.dnd {
    border-color: shade (@selected_bg_color, 1.12);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

treeview entry {
    background-image: none;
}

.view row:nth-child(odd) {
    /* zebra stripping, see LP#945430 */
    background-color: shade (@base_color, 0.965);
}

/************
 * viewport *
 ************/
GtkViewportframe {
    border-width: 0;
}

/************
 * listbox  *
 ************/
list-rowbutton {
    border-image: none;
    border-style: none;
    border-radius: 0;
    background-image: none;
}

list-rowbutton:selected {
    text-shadow: none;
}

/************
 * popover  *
 ************/
popover.background {
    background-clip: border-box;

    border-radius: 5px;
    border: 1px solid darker(@bg_color);

    box-shadow: 0 2px 3px @shadow_color;
    margin: 10px;
    padding: 2px;
}


/* Popover menuitems are actually buttons. The following rules reset most of
 * the button styles for them.
 */
popover.background menuitem,
popover.background menuitem:checked,
popover.background menuitem:hover,
popover.background menuitem:active,
popover.background menuitem:disabled {
    border-image: none;
    border: none;
    text-shadow: none;
    border-radius: 3px;
}

popover.background menuitem:checked,
popover.background menuitem check,
popover.background menuitem check:checked,
popover.background menuitem radio,
popover.background menuitem radio:checked {
    background-image: none;
    border: none;
}

popover.background menuitem:disabled,
popover.background menuitem *:disabled {
    text-shadow: none;
    background: none;
}

/* Floating bars */
.floating-bar {
    background-color: @info_bg_color;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: darker (@info_bg_color);
}


/* OSD overlays */
.osd {
    color: @osd_fg_color;
    background-color: @osd_bg_color;
    border-color: @osd_border_color;
}

.osdtoolbar {
    padding: 12px;
    border-radius: 8px;
}

.osd button {
    color: @osd_fg_color;
    background: none;
    border: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 100ms ease-in-out;
}

/* buttons that are not part of an osd toolbar need a background */
button.osd,
button.osd:hover,
button.osd:active {
    background: @osd_bg_color;
    padding: 12px;
    box-shadow: none;
    border-image: none;
}

button.osd:hover,
.osd button:hover {
    color: lighter(@osd_fg_color);
    icon-shadow: 0 0 3px @osd_fg_color;
}

button.osd:active,
.osd button:active {
    color: darker(@osd_fg_color);
    icon-shadow: none;
}

.osd .scale {
    margin-left: 9px;
    margin-right: 9px;
}

/*************
 * overshoot *
 *************/
overshoot.top {
    background: -gtk-gradient(radial, center top, 0, center top, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.right {
    background: -gtk-gradient(radial, right center, 0, right center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.bottom {
    background: -gtk-gradient(radial, center bottom, 0, center bottom, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.left {
    background: -gtk-gradient(radial, left center, 0, left center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

/**************
 * undershoot *
 **************/
.undershoot {
    background: none;
}

/*****************************************************************************
 * states [please keep this section at the end of the file (CSS precedence)] *
 *****************************************************************************/
*:disabled {
    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

*:selected,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);

    color: @selected_fg_color;
}

*:link,
*:visited {
    color: #5b859d; /* @link_color */
}
