/***************
 * Resize grip *
 ***************/

grip {
    background-color: transparent;
    /*background-image: url("assets/resize-grip.svg");*/
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
check {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

check:hover {
    -gtk-icon-source: url("assets/checkbox-unchecked-prelight.png");
}

check row,
check row:selected,
check row:selected:focus {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

check row,
check row:selected:hover,
check row:selected:focus:hover {
    -gtk-icon-source: url("assets/checkbox-unchecked-prelight.png");
}

check:disabled {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

check row:focus {
    background-color: transparent;
}

check row:focus,
check row:selected:disabled,
check row:selected:focus:disabled {
    background-color: transparent;
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

check:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

check:checked:hover {
    -gtk-icon-source: url("assets/checkbox-checked-prelight.png");
}

check row:checked,
check row:selected:checked,
check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

check row:checked:hover,
check row:selected:checked:hover,
check row:selected:checked:focus:hover {
    -gtk-icon-source: url("assets/checkbox-checked-prelight.png");
}

check:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
}

check row:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive-alt.png");
}

check:indeterminated {
    -gtk-icon-source: url("assets/checkbox-mixed.png");
}

check:indeterminated:hover {
    -gtk-icon-source: url("assets/checkbox-mixed-prelight.png");
}

check row:indeterminated,
check row:selected:indeterminated,
check row:selected:focus:indeterminated {
    -gtk-icon-source: url("assets/checkbox-mixed-alt.png");
}

check row:indeterminated:hover,
check row:selected:indeterminated:hover,
check row:selected:focus:indeterminated:hover {
    -gtk-icon-source: url("assets/checkbox-mixed-prelight-alt.png");
}

check:indeterminated:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
}

check row:indeterminated:disabled,
check row:selected:indeterminated:disabled,
check row:selected:focus:indeterminated:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive-alt.png");
}

radio {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

radio:hover {
    -gtk-icon-source: url("assets/radio-unselected-prelight.png");
}

radio row,
radio row:selected,
radio row:selected:focus {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

radio row,
radio row:selected:hover,
radio row:selected:focus:hover {
    -gtk-icon-source: url("assets/radio-unselected-prelight-alt.png");
}

radio:disabled {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
}

radio row:focus {
    background-color: transparent;
}

radio row:focus,
radio row:selected:disabled,
radio row:selected:focus:disabled {
    -gtk-icon-source: url("assets/radio-unselected-insensitive-alt.png");
}


radio:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

radio:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-prelight.png");
}

radio row:checked,
radio row:selected:checked,
radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected-alt.png");
}

radio row:checked:hover,
radio row:selected:checked:hover,
radio row:selected:focus:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-prelight-alt.png");
}

radio:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-insensitive.png");
}

radio row:focus,
radio row:selected:checked:disabled,
radio row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-insensitive-alt.png");
}

radio:indeterminated {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

radio:indeterminated:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover.png");
}

radio row:indeterminated,
radio row:selected:indeterminated,
radio row:selected:focus:indeterminated {
    -gtk-icon-source: url("assets/radio-mixed-alt.png");
}

radio row:indeterminated:hover,
radio row:selected:indeterminated:hover,
radio row:selected:focus:indeterminated:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover-alt.png");
}

radio:indeterminated:disabled {
    -gtk-icon-source: url("assets/radio-mixed-disabled.png");
}

radio row:indeterminated:disabled,
radio row:selected:indeterminated:disabled,
radio row:selected:focus:indeterminated:disabled {
    -gtk-icon-source: url("assets/radio-mixed-disabled-alt.png");
}

.primary-toolbar menu check,
menubartoolbar menu check,
.header-bar menu check,
menu check {
    -gtk-icon-source: url("assets/checkbox-menuitem-unselected.png");
}

.primary-toolbar menu radio,
menubartoolbar menu radio,
.header-bar menu radio,
menu radio {
    -gtk-icon-source: url("assets/checkbox-menuitem-unselected.png");
}

.primary-toolbar menu check:checked,
menubartoolbar menu check:checked,
.header-bar menu check:checked,
toolbar menu check:checked:hover,
menu check:checked,
menu check:checked:hover {
    -gtk-icon-source: url("assets/checkbox-menuitem.png");
}

.primary-toolbar menu check:checked:disabled,
menubartoolbar menu check:checked:disabled,
.header-bar menu check:checked:disabled,
toolbar menu check:checked:hover:disabled,
menu check:checked:disabled,
menu check:checked:hover:disabled {
    -gtk-icon-source: url("assets/checkbox-menuitem-insensitive.png");
}

.primary-toolbar menu radio:checked,
menubartoolbar menu radio:checked,
.header-bar menu radio:checked,
toolbar menu radio:checked:hover,
menu radio:checked,
menu radio:checked:hover {
    -gtk-icon-source: url("assets/radio-menuitem.png");
}

.primary-toolbar menu radio:checked:disabled,
menubartoolbar menu radio:checked:disabled,
.header-bar menu radio:checked:disabled,
toolbar menu radio:checked:hover:disabled,
menu radio:checked:disabled,
menu radio:checked:hover:disabled {
    -gtk-icon-source: url("assets/radio-menuitem-insensitive.png");
}

toolbar menu check {
    -gtk-icon-source: url("assets/checkbox-menuitem-unselected.png");
}

toolbar menu radio {
    -gtk-icon-source: url("assets/checkbox-menuitem-unselected.png");
}

toolbar menu check:checked {
    -gtk-icon-source: url("assets/checkbox-menuitem-dark.png");
}

toolbar menu check:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-menuitem-insensitive-dark.png");
}

toolbar menu radio:checked {
    -gtk-icon-source: url("assets/radio-menuitem-dark.png");
}

toolbar menu radio:checked:disabled {
    -gtk-icon-source: url("assets/radio-menuitem-insensitive-dark.png");
}

/*********************
 * scale's slider *
 *********************/
scale slider,
scale slider.horizontal {
    background-image: url("assets/slider-horizontal.png");
}


scale slider:hover,
scale slider.horizontal:hover {
    background-image: url("assets/slider-horizontal-hover.png");
}

scale slider:focus,
scale slider.horizontal:focus {
    background-image: url("assets/slider-horizontal-focused.png");
}

scale slider:hover:focus,
scale slider.horizontal:hover:focus {
    background-image: url("assets/slider-horizontal-focused-hover.png");
}

scale slider:disabled,
scale slider.horizontal:disabled {
    background-image: url("assets/slider-horizontal-disabled.png");
}

scale.vertical slider {
    background-image: url("assets/slider-vertical.png");
}


scale.vertical slider:hover {
    background-image: url("assets/slider-vertical-hover.png");
}

scale.vertical slider:focus {
    background-image: url("assets/slider-vertical-focused.png");
}

scale.vertical slider:hover:focus {
    background-image: url("assets/slider-vertical-focused-hover.png");
}

scale.vertical slider:disabled {
    background-image: url("assets/slider-vertical-disabled.png");
}
