/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
	font-family: Sans;
    font-size: 10pt;
	color: white
	
}
/* small fonts */
.run-dialog-label, .run-dialog-error-label {
	font-size: 8pt;
}
/* small 7.5 pt */
.calendar-month-label, .calendar-day-base {
	font-size: 7.5pt;
}
/* small bold fonts */
.window-caption, .switcher-list {
	font-size: 8pt;
	font-weight: bold;
}
.cinnamon-link {
	color: #0000ff;
	text-decoration: underline;
}
.cinnamon-link:hover {
	color: #0000e0;
}
#Tooltip {
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0px;
	padding: 2px 6px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(140,170,225,1.0);
	font-size: 9pt;
	font-weight: normal;
}
/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/
.popup-menu-boxpointer {
    border-radius: 2px;
    -arrow-border-radius: 16px;
/*  defines tooltip menu background   -arrow-background-color: #2374DB; 
    -arrow-border-width: 2px;
    -arrow-border-color: #1854C2; 
    -arrow-base: 0px;
    -arrow-rise: 0px;
    -boxpointer-gap: 0px; */
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    padding: 2px 0px 0px 2px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    -margin-from-left-edge-of-screen: 0px;
    margin-from-left-edge-of-screen: 0px;
    -margin-from-right-edge-of-screen: 0px;
    margin-from-right-edge-of-screen: 0px;
}
.popup-menu {
	color: black;
	min-width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	
}

.popup-submenu-menu-item:open {
}
.popup-sub-menu {
	background-color: rgba(0,0,0,0.0);
    border-radius: 2px;
    
    padding: 0.5em 0.1em;
}
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
.popup-sub-menu StScrollBar {
    padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: #4c4c4c;
	border-width: 0px;
}
.popup-combo-menu {
	background-color: rgba(0,0,0,0.9);
	padding: 1em 0em;
	color: #111111;
	border: 1px solid #5f5f5f;
	border-radius: 4px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0.1em;
}
.popup-menu-item {
	font-weight: normal;
	padding: .4em 1.75em;
	spacing: 1em;
	color: #111;
	border: 1px solid rgba(220,220,220,0.0);
}
.popup-menu-item:active {
	background-color: rgb(193,226,254);
	color: #111;
	border: 1px solid rgb(110,150,180);
    border-radius: 0px;
}
.popup-menu-item:insensitive {
	color: #9f9f9f;
}
.popup-image-menu-item {
}
.popup-combobox-item {
	spacing: 1em;
}
.popup-separator-menu-item {
	-gradient-height: 1px;
	-gradient-start: rgba(0,0,0,0);
	-gradient-end: #95BDEE;
	-margin-horizontal: 1.5em;
	height: 1em;
}
.popup-alternating-menu-item:alternate {
	font-weight: bold;
}
.popup-slider-menu-item {
    border-image: url("slider.png") 10 10 9 9 stretch; 
    height: 18px;
	min-width: 15em;
    -slider-height: 4px;
    -slider-background-color: rgba(0,0,0,0);
    -slider-border-color: rgba(0,0,0,0);
    -slider-active-background-color: rgba(145,255,27,0.6);
    -slider-active-border-color: rgba(0,0,0,0);
	-slider-border-width: 1px;
    -slider-handle-radius: 6px;
}
.popup-device-menu-item {
	spacing: .5em;
}
.popup-inactive-menu-item {
	font-weight: normal;
	color: #999;
}
.popup-subtitle-menu-item {
	font-weight: bold;
}
.popup-menu-icon {
	icon-size: 1em;
}
/* Switches (to be used in menus) */
.toggle-switch {
	width: 32px;
	height: 16px;
	background-color: rgba(0,0,0,0.0);
}

.toggle-switch-us {
	background-image: url("switch-off.png");
	background-size: contain;
}

.toggle-switch-us:checked {
	background-image: url("switch-on.png");
	background-size: contain;
}

.toggle-switch-intl {
	background-image: url("switch-off.png");
	background-size: contain;
}

.toggle-switch-intl:checked {
	background-image: url("switch-on.png");
	background-size: contain;
}

.nm-menu-item-icons {
	spacing: .5em;
}

/* Scrollbars */
StScrollBar {
	padding: 1px;
}
StScrollView.vfade {
	-st-vfade-offset: 10px;
}


StScrollView {
min-width: 250px;
}

StScrollView StScrollBar {
	min-width: 15px;
	min-height: 15px;
        border-color: rgb(177,177,177);
}

StScrollBar StBin#trough {
	background-color: rgb(220,220,220);
	
}
StScrollBar StButton#vhandle {
    background-color: rgb(177,177,177);
	
}
StScrollBar StButton#hhandle {
   background-color: rgb(177,177,77);
	
}
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
	background-color: rgb(100,100,100);
}

#Tooltip {
	border: 1px solid rgba(212,185,67,1.0);
	border-radius: 4px;
	padding: 1px 2px;
	background-gradient-end: rgba(251,234,159,0.9);
	background-gradient-start: rgba(254,245,198,0.9);
	background-gradient-direction: vertical;
	color: #000000;
	font-size: 8.5pt;
	font-weight: normal;
	text-align: center;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
	color: black;
	background-color: rgb(160,190,220);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
	height: 32px;
	font-weight: normal;
}
#panelLeft {
        border: 1px solid rgba(0,80,255,1.0);
	border-left: 0px;
	border-right: 0px;
    border-bottom: 0px;
	spacing: 2px;
	background-gradient-direction: vertical;
	background-gradient-start: rgb(217,250,255);
	background-gradient-end: rgb(20,120,255);
        background-gradient-size: 100px;
}

#panelCenter {
        border: 1px solid rgba(0,80,255,1.0);
	border-left: 0px;
	border-right: 0px;
    border-bottom: 0px;
	spacing: 2px;
        background-gradient-direction: vertical;
	background-gradient-start: rgb(217,250,255);
	background-gradient-end: rgb(20,120,255);
        }

#panelRight {
       border: 1px solid rgba(0,80,255,1.0);
	border-left: 0px;
	border-right: 0px;
    border-bottom: 0px;
	spacing: 2px;
	background-color: rgb(70,130,200);
       background-gradient-direction: vertical;
	background-gradient-start: rgb(217,250,255);
	background-gradient-end: rgb(20,120,255);
        
}

#panelLeft:dnd {
	background-color: rgb(70,130,200);
}
#panelCenter:dnd {
	background-color: rgb(70,130,200);
}

#panelRight:dnd {
	background-color: rgb(70,130,200);
}
#panelLeft:ltr {
	padding-right: 4px;
}
#panelLeft:rtl {
	padding-left: 4px;
}
#panelRight:ltr { 
	padding-left: 0px;
}
#panelRight:rtl {
	padding-right: 0px;
}
.panel-button,
.panel-status-button {
	-natural-hpadding: 5px;
	-minimum-hpadding: 5px;
	font-weight: normal;
	color: black;
	border: 1px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	transition-duration: 200;
}
.panel-button:hover,
.panel-status-button:hover {
	border: 1px solid rgba(255,255,255,0.4);
	border-top: 0px;
	border-bottom: 0px;
	color: black;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.3);
	background-gradient-start: rgba(255,255,255,0.2);
}


.popup-menu-item-dot {
}
.system-status-icon {
	icon-size: 1.09em;
}
/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
	spacing: 12px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,180,1.0);
	background-gradient-end: rgba(180,200,255,1.0);
}
.expo-background {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,180,1.0);
	background-gradient-end: rgba(180,200,255,1.0);
}
.window-caption {
	spacing: 25px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.25);
	border-top-width: 0;
	border-radius: 6px;
	color: #fff;
	padding: 6px 8px;
	-cinnamon-caption-spacing: 4px;
}
.window-caption#selected {
}
.workspace-controls {
	visible-width: 32px; /* Amount visible before hovering */
}
.workspace-thumbnails {
	spacing: 7px;
}
.workspace-add-button {
	background-image: url("add-workspace-button.svg");
	height: 24px;
	width: 25px;
}
.workspace-add-button:hover {
	background-image: url("add-workspace-button-hover.svg");	
}

.workspace-close-button {
	background-image: url("close-window.svg");
	background-size: 22px;
	height: 22px;
	width: 22px;
    -cinnamon-close-overlap: 11px;
}

.workspace-close-button:hover {
	-st-background-image-shadow: 0px 0px 4px rgba(255,255,255,0.9);
}

.window-close {
	background-image: url("close-window.svg");
	background-size: 22px;
	height: 22px;
	width: 22px;
	-cinnamon-close-overlap: 8px;
}
.window-close:hover {
	-st-background-image-shadow: 0px 0px 4px rgba(255,255,255,0.9);
}
.window-close-area {
	background-image: url("trash.svg");
	background-color: rgba(32,32,32,1.0);
	border: 2px solid rgba(255,255,255,0.6);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
	border-bottom-width: 0px;
	height: 120px;
	width: 220px;
}

/* ===================================================================
 * Looking Glass 
 * ===================================================================*/
#LookingGlassDialog {
	border: 1px solid rgba(0,0,0,0.5);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(140,170,225,1.0);
	spacing: 8px;
	padding: 4px;
}

#LookingGlassDialog > #Toolbar {
	border: 1px solid black;
	border-radius: 2px;
}

#LookingGlassDialog .labels {
	spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
	-natural-hpadding: 12px;
	-minimum-hpadding: 6px;
	font-weight: bold;
	color: #ccc;
	padding-left: .3em;
	padding-right: .3em;
}

#LookingGlassDialog .notebook-tab:hover {
	color: white;
	text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .notebook-tab:selected {
	border-image: url("panel-button-border.svg") 10 10 0 2;
	background-image: url("panel-button-highlight-wide.svg");
	color: white;
	text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}

.lg-dialog StEntry {
	selection-background-color: #bbbbbb;
	selected-color: #333333;
}

.lg-completions-text {
	font-size: .9em;
	font-style: italic;
}

.lg-obj-inspector-title {
	spacing: 4px;
}

.lg-obj-inspector-button {
	border: 1px solid gray;
	padding: 4px;
	border-radius: 4px;
}

.lg-obj-inspector-button:hover {
	border: 1px solid #ffffff;
}

.lg-dialog .cinnamon-link {
	color: #212121;
}

.lg-dialog .cinnamon-link:hover {
	color: #111;
}

#LookingGlassDialog StBoxLayout#EvalBox {
	padding: 4px;
	spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
	spacing: 4px;
}

#lookingGlassExtensions {
	padding: 4px;
}

.lg-extension-list {
	padding: 4px;
	spacing: 6px;
}

.lg-extension {
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 4px;
	padding: 4px;
}

.lg-extension-name {
	font-weight: bold;
}

.lg-extension-meta {
	spacing: 6px;
}

#LookingGlassPropertyInspector {
	background: rgba(0, 0, 0, 0.8);
	border: 2px solid black;
	border-radius: 4px;
	padding: 6px;
}


/* ===================================================================
 * Date applet 
 * ===================================================================*/
.calendar {
    padding: .4em 1.75em  .8em 1.75em;;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
	color: #212121;
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: normal ;
}

.calendar-change-month-back {
	width: 18px;
	height: 12px;
	background-image: url("calendar-arrow-left.svg");
	border-radius: 4px;
}
.calendar-change-month-back:rtl {
	background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-back:hover {
	background-color: rgba(255,255,255,0.1);
}
.calendar-change-month-back:active {
	background-color: rgba(255,255,255,0.1);
}
.calendar-change-month-forward {
	width: 18px;
	height: 12px;
	background-image: url("calendar-arrow-right.svg");
	border-radius: 4px;
}
.calendar-change-month-forward:rtl {
	background-image: url("calendar-arrow-left.svg");
}
.calendar-change-month-forward:hover {
	background-color: rgba(255,255,255,0.1);
}
.calendar-change-month-forward:active {
	background-color: rgba(255,255,255,0.1);
}
.datemenu-date-label {
	padding: .4em 1.75em;
	font-size: 9pt;
	color: #212121;
	font-weight: bold;
        text-align: center;
}

.calendar-day-base {
    text-align: center;
    width: 2.4em;
    max-height: 2.4em;
    padding: 5px 0px 5px 0px;
}

.calendar-day-base:active {
}

.calendar-day-heading {
	color: #212121;
	padding-top: 1em;
	padding-bottom: 1em;
}

.calendar-week-number {
    padding-left: 0px;
	color: #212121;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
	border: 1px solid #333;
	color: #212121;
	border-top-width: 0;
	border-left-width: 0;
	border-radius: 0px;
	width: 32px;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
	border-color: #444;
}

.calendar-nonwork-day {
	background-color: rgba(128,128,128,.1);
	border-color: #555;
}

.calendar-today {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,0.4);
	background-gradient-end: rgba(140,170,225,0.4);
	box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.2);
	color: #212121;
	font-weight: bold;
}

.calendar-other-month-day {
	color: #212121;
}

.calendar-day-with-events {
	font-weight: bold;
	color: #212121;
}
/* ===================================================================
 * Notifications notification is p.ex filestor gadget
 * ===================================================================*/
#notification {
	border: 1px solid rgba(0,0,0,1.0);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(140,170,225,1.0);
	border-radius: 4px;
	font-size: 8.5pt;
	padding: 8px 8px 8px 8px;
	spacing-rows: 10px;
	spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;    
	width: 34em;
}
#notification.multi-line-notification {
	padding-bottom: 8px;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
}
#notification-scrollview {
    max-height: 100em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 10em;
}
#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}
#notification-body {
	spacing: 5px;
}
#notification-actions {
	spacing: 10px;
}
/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
	padding: 8px;
	spacing: 16px;
}

.switcher-list {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(140,170,225,1.0);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.7);
	border-radius: 0px;
	padding: 20px;
	color: white;
}

.switcher-list-item-container {
	spacing: 8px;
}

.switcher-list .item-box {
	padding: 3px;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.0);
}

.switcher-list .item-box:outlined {
        background-gradient-direction: vertical;
	background-gradient-start: rgba(220,220,220,0.3);
	background-gradient-end: rgba(220,220,220,0.3);
	color: #fff;
	border: 1px solid rgba(255,255,255,0.35);
}

.switcher-list .item-box:selected {
        background-gradient-direction: vertical;
	background-gradient-start: rgba(220,220,220,0.3);
	background-gradient-end: rgba(220,220,220,0.3);
	color: #fff;
	border: 1px solid rgba(255,255,255,0.35);
}


.ripple-box {
	width: 52px;
	height: 52px;
	background-image: url("corner-ripple-ltr.png");
	background-size: contain;
}

.ripple-box:rtl {
	background-image: url("corner-ripple-rtl.png");
}
/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
	font-weight: bold;
	color: #fff;
}

.modal-dialog {
    font-size: 10pt;
	border: 2px solid rgba(255,255,255,0.6);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(32,32,32,1.0);
	background-gradient-end: rgba(32,32,32,1.0);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
	border-radius: 0;
	color: #fff;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 110px;
}

.modal-dialog-button {
	border-radius: 2px;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px 32px 5px;
	border-width: 1px;
	border-color: rgba(78,78,78,0.9);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(58,58,58,1.0);
	background-gradient-end: rgba(32,32,32,1.0);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
	border-color: rgba(98,98,98,0.4);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(28,28,28,1.0);
	background-gradient-end: rgba(32,32,32,1.0);
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.35);
}

.modal-dialog-button:active:hover,
.modal-dialog-button:pressed:hover {
	border-color: rgba(98,98,98,0.4);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(28,28,28,1.0);
	background-gradient-end: rgba(32,32,32,1.0);
}

.modal-dialog-button:hover {
	border-color: rgba(98,98,98,0.9);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(68,68,68,1.0);
	background-gradient-end: rgba(58,58,58,1.0);
}

.modal-dialog-button:disabled {
	color: rgb(60,60,60);
}

.modal-dialog-button:focus {
	box-shadow: 0px 0px 2px 1px rgba(117,145,169,0.9);
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-error-box {
	padding-top: 15px;
	spacing: 5px;
}

.run-dialog-entry {
	font-size: 9pt;
	font-weight: normal;
	width: 23em;
	selection-background-color: black;
	selected-color: black;
	border-radius: 2px;
	padding: 4px;
	color: black;
	border: 1px solid rgba(0,0,0,0.12);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(255,255,255,1.0);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
	caret-size: 1px;
}

.run-dialog {
	border: 1px solid rgba(0,0,0,1.0);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(140,170,225,1.0);
	border-radius: 0;
	padding-right: 21px;
	padding-left: 21px;
	padding-bottom: 0px;
	padding-top: 15px;
}

.run-dialog > .modal-dialog-button-box {
	padding-top: 15px;
}

.lightbox {
	background-color: rgba(160,160,160,0.0);
}
/* ===================================================================
 * End session dialog
 * ===================================================================*/
.end-session-dialog {
	spacing: 42px;
}

.end-session-dialog-subject {
	font-weight: bold;
	color: #fff;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.end-session-dialog-description {
	padding-left: 17px;
	width: 28em;
}

.end-session-dialog-description:rtl {
	padding-right: 17px;
}

.end-session-dialog-logout-icon {
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 0;
	width: 32px;
	height: 32px;
}

.end-session-dialog-shutdown-icon {
	color: #bebebe;
	width: 32px;
	height: 32px;
}

.end-session-dialog-app-list {
	max-height: 200px;
	padding-top: 42px;
	padding-left: 49px;
	padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.end-session-dialog-app-list-item {
	color: #ccc;
}

.end-session-dialog-app-list-item:hover {
	color: white;
}

.end-session-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
	color: #444444;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
	icon-size: 48px;
}
.mount-password-reask {
	color: red;
}

.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(70,70,70);
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}

.mount-question-dialog-subject {
	max-width: 500px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: rgb(70,70,70);
	padding-left: 17px;
	width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.show-processes-dialog-app-list-item {
	color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
	color: white;
}

.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
}
/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/
.polkit-dialog {
	/* this is the width of the entire modal popup */
	width: 250px;
}
.polkit-dialog-main-layout {
	spacing: 24px;
	padding: 10px;
}
.polkit-dialog-message-layout {
	spacing: 16px;
}
.polkit-dialog-headline {
    font-size: 10pt;
	font-weight: bold;
	color: #666666;
}
.polkit-dialog-description {
	font-weight: normal;
}
.polkit-dialog-user-layout {
	padding-left: 10px;
	spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
	padding-left: 0px;
	padding-right: 10px;
}
.polkit-dialog-user-root-label {
	color: #ff0000;
}
.polkit-dialog-password-label:ltr {
	padding-right: 0.5em;
}
.polkit-dialog-password-label:rtl {
	padding-left: 0.5em;
}
.polkit-dialog-password-entry {
	selected-color: white;
	border-radius: 0;
	color: white;
	border: 1px solid rgba(200,200,200,0.12);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.3);
	background-gradient-end: rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
	caret-size: 1px;
	caret-color: white;
}
.polkit-dialog-password-entry:focus {
	color: white;
}
.polkit-dialog-password-entry .capslock-warning {
	icon-size: 16px;
	warning-color: #999;
	padding: 0 4px;
}
.polkit-dialog-error-label {
	font-size: 10pt;
	color: #ffff00;
	padding-bottom: 8px;
}
.polkit-dialog-info-label {
	font-size: 10pt;
	padding-bottom: 8px;
}
/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
	font-size: 10pt;
	color: rgba(0,0,0,0);
	padding-bottom: 8px;
}
.network-dialog-secret-table {
	spacing-rows: 15px;
}
/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
	border: 2px solid rgba(128, 0, 0, 255);
}
.magnifier-zoom-region.full-screen {
	border-width: 0px;
}
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,108,150,1.0);
	background-gradient-end: rgba(170,200,255,1.0);
}

.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}

.keyboard-row {
	spacing: 15px;
}

.keyboard-key {
	min-height: 30px;
	min-width: 30px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(78,78,78,0.5);
	background-gradient-end: rgba(78,78,78,0.5);
	font-size: 14pt;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid rgba(78,78,78,0.9);
	color: white;
}

.keyboard-key:grayed {
	color: #808080;
	border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
	background: #303030;
	border: 3px solid white;
}

.keyboard-key:active {
	background: #808080;
}

.keyboard-subkeys {
	color: white;
	padding: 5px;
	-arrow-border-radius: 10px;
	-arrow-background-color: #090909;
	-arrow-border-width: 2px;
	-arrow-border-color: white;
	-arrow-base: 20px;
	-arrow-rise: 10px;

}
/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/
/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/
/* Main menu title */

.menu-background {
border: inset 1px solid rgba(0,0,0,1.0);
        background-gradient-direction: horizontal;
	background-gradient-start: rgb(130,200,255);
	background-gradient-end: rgb(230,250,255);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.0);
	border-radius: 2px;
	border-radius-bottomright: 0px;
	border-radius-bottomleft: 0px;	
}

.menu-favorites-box {
	margin: auto;
	padding: 0.5em;
	border: 1px solid rgba(20,20,20,0.2);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.7);
	background-gradient-end: rgba(255,255,255,0.7);
	border-radius: 4px;
        
}

.menu-favorites-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid rgba(20,20,20,0.0);
}
.menu-favorites-button:hover {
	background-color: rgb(193,226,254);
    border: 1px solid rgb(110,150,180);
	color: #111;
    border-radius: 0px;
   border-image: url("menuitem.png") 7;
}
.menu-places-box {
    margin: auto;
	padding: 10px;
    
}
.menu-places-button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
      
}
.menu-categories-box {
    
	padding: 4px;  
}
.menu-applications-box {
    padding: 4px;  
   
}
.menu-application-button {
	padding: 7px;
    max-width: 10px; 
	border: 1px solid rgba(255,255,255,0.0);
       
}
.menu-application-button:hover,
.menu-application-button-selected {
       padding: 7px;
       background-color: rgb(193,226,254);
       border: 1px solid rgb(110,150,180);
    border-radius: 0px;
    border-image: url("menuitem.png") 7;
}
.menu-application-button-label:ltr { 
  	padding-left: 5px;
}
.menu-application-button-label:rtl { 
  	padding-right: 5px;
}
.menu-category-button {
	padding: 7px;
	border: 1px solid rgba(255,255,255,0.0);
}
.menu-category-button-greyed {
	padding: 7px;
	color: #999;
	font-style: normal;
	border: 1px solid rgba(255,255,255,0.0);
}
.menu-category-button-selected {
	padding: 7px;
	background-color: rgb(193,226,254);
	border: 1px solid rgb(110,150,180);
        border-image: url("menuitem.png") 7;
    border-radius: 0px;
      
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
	text-align: right;
}



.menu-selected-app-title {
	font-weight: bold;
}
.menu-selected-app-description {
    max-width: 150px;
}

#menu-search-entry {
font-size: 9pt;
font-weight: normal;
	
	selection-background-color: white;
	selected-color: black;
	border-radius: 2px;
	padding: 4px;
	color: black;
	border: 10px solid rgba(165,185,200,0.4);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(255,255,255,1.0);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
	
}

.menu-search-entry-icon {
	icon-size: 1em;
	color: #2234ff;
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
	spacing: 2px;
}
.window-list-item-label {
	width: 15em;
	min-width: 5px;
}

.window-list-item-label {
    width: 16em;
    min-width: 30px;
}



.window-list-item-box {
	font-weight: normal; 
	color: black;
        padding-left: 9px;
    padding-right: 9px;
        padding-top: 3px;
    padding-bottom: 3px;
	border-image: url("hover-xp3.png") 6;
}

.window-list-item-box:hover  {     
     border-image: url("hover-xp1-a.png") 6;
      padding-left: 9px;
    padding-right: 9px;
        padding-top: 3px;
    padding-bottom: 3px;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {


     border-image: url("pressed-xp.png") 6;
      padding-left: 9px;
    padding-right: 9px;
        padding-top: 3px;
    padding-bottom: 3px;
}

.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover,
.window-list-item-box:active:hover  {     
     border-image: url("hover-pressed-xp.png") 6;
}

.window-list-item-demands-attention {
     border-image: url("attention.png") 6;
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
    padding-right: 3px;
    padding-left: 3px;
}

.sound-button {
	width: 30px;
	height: 30px;
	color: white;
	border: 1px solid #8b8b8b;
	padding: 7px;
}
.sound-button:hover {
}

.sound-button StIcon {
    padding-top: 1px;
}
.sound-track-infos {
	padding-left: 10px;
}
.sound-track-info {
	padding-bottom: 4px;
}


.sound-track-info StLabel {
	padding-left: 5px;
}

.sound-volume-menu-item {
	padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
}
.sound-playback-control {
	padding: 5px 10px 10px 10px;
}
/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
	spacing: 0px;
	padding: 3px;
	
}
.workspace-button {
	width: 24px;
	height: 10px;
	font-weight: bold;
	color: #fff;
	border: 1px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	transition-duration: 200;
}
.workspace-button:hover {
    border: 1px solid rgba(0,0,0,0.2);
	border-top: 0px;
	border-bottom: 0px;
	color: white;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.2);
	background-gradient-start: rgba(255,255,255,0.0);
}
.workspace-button:outlined {
    border: 1px solid rgba(0,0,0,0.2);
	border-top: 0px;
	border-bottom: 0px;
	color: white;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.2);
	background-gradient-start: rgba(255,255,255,0.0);
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#panel-launchers-box {
    padding-top: 2px;
    padding-bottom: 2px;
}
.panel-launcher {
    border: 1px solid rgba(0,0,0,0.0);
	border-top: 0px;
	border-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
	transition-duration: 200;
}
.panel-launcher:hover {
	color: white;
    border: 1px solid rgba(0,0,0,0.2);
	border-top: 0px;
	border-bottom: 0px;
    border-radius: 2px;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.2);
	background-gradient-start: rgba(255,255,255,0.0);
}
.panel-launcher-add-dialog-content-box {
	padding: 15px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-left {
	padding: 11px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}
.panel-launcher-add-dialog-entry {
font-size: 9pt;
font-weight: normal;
	width: 23em;
	selection-background-color: black;
	selected-color: white;
	border-radius: 2px;
	padding: 4px;
	color: white;
	border: 1px solid rgba(200,200,200,0.12);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.3);
	background-gradient-end: rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
	caret-size: 1px;
        height: 16px; 
}
.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
	color: #2e2e2e;
	border: 1px solid rgba(0,0,0,0.2);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(200,200,200,0.9);
	background-gradient-end: rgba(238,238,238,0.9);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4);
	selected-color: white;
	caret-color: black;
	caret-size: 1px;
}
/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
}
#overview-corner:hover {
	background-image:	url("overview-hover.png");
}
/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-box {
	padding-left: 3px;
    padding-right: 3px;	
	color: #222;
	border: 1px solid rgba(255,255,255,0);
	border-top: 0px;
	border-bottom: 0px;
	transition-duration: 200;	
}
.applet-box:hover {
	color: black;
    border: 1px solid rgba(0,0,0,0.2);
	border-top: 0px;
	border-bottom: 0px;
    border-radius: 2px;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.2);
	background-gradient-start: rgba(255,255,255,0.0);
}
.applet-label {	
	color: #000;
        text-align: center;		
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
        border-radius: 6px;
	padding: 12px 16px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.25);
	font-size: 20pt;
	font-weight: bold;
        color: white;
}

.expo-background {
}

.expo-workspaces-name-entry {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.25);
	border-top-width: 0;
	border-radius: 6px;
	color: #fff;
	padding: 6px 8px;
}

.expo-workspaces-name-entry#selected {
}

.expo-workspaces-name-entry:focus {
        selection-background-color: black;
	selected-color: white;
        color: white;
	background-color: rgba(0,0,0,0.3);
        caret-size: 1px;
        box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
}


.polkit-dialog-user-root-label {
	color: #ff0000;
}

.hover-label {
  	color: #00023B;
  	font-size: 16px;
  	margin: 6px;
}

.user-label {
  	color: rgb(0,0,0);
  	font-size: 16px;
  	margin: 6px;
}
