/* Fallback Mode Panel */
PanelWidget:backdrop,
PanelApplet:backdrop,
PanelToplevel:backdrop,
PanelWidget,
PanelApplet,
PanelToplevel {
    border-image: none;
    color: @fg_color;
}

PanelWidget,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#c5f7ff, 1.05)),
                                     color-stop (0.50, shade (#81c5ff, 1.00)),
                                     color-stop (0.501, shade (#489aff, 1.00)),
                                     to (shade (#80e1ff, 1.05))); 
        background-color: #000000;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator:backdrop,
PanelSeparator {
	border-width: 0;
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#979998, 1.05)),
                                     color-stop (0.5, shade (#3c3d3f, 1.00)),
                                     color-stop (0.51, shade (#29292b, 1.00)),
                                     color-stop (0.89, shade (#050608, 1.00)),
                                     color-stop (0.9, shade (#030406, 1.00)),
                                     to (shade (#030406, 1.05)));
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
	-PanelMenuBar-icon-visible: true;
        color:#000000;
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#dcffff, 1.05)),
                                     color-stop (0.50, shade (#a2deff, 1.00)),
                                     color-stop (0.501, shade (#96d1ff, 1.00)),
                                     to (shade (#aee0ff, 1.0))); 
	border-width: 0;
        background-color: #ffffff;
}

PanelAppletFrame {
	background-color: #3c3d3f;
        color:#000000;
        background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#c5f7ff, 1.05)),
                                     color-stop (0.50, shade (#81c5ff, 1.00)),
                                     color-stop (0.501, shade (#489aff, 1.00)),
                                     to (shade (#80e1ff, 1.05))); 
	border-width: 0;
}

PanelApplet .button:backdrop,
PanelApplet .button {
	-GtkButton-inner-border: 2;
        color:#ffffff;
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#f2fafa, 1.05)),
                                     color-stop (0.5, shade (#dbf8ff, 1.00)),
                                     color-stop (0.51, shade (#b3e5ff, 1.00)),
                                     to (shade (#6fc6ff, 1.05)));
    border-image: none;
    
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.3);
    border-radius: 0;
    border-width: 0 1px 0 1px;

    color: #000000;
    text-shadow: none;
}


PanelApplet .button:active:prelight,
PanelApplet .button:active:backdrop,
PanelApplet .button:active {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#8b8e85, 1.05)),
                                     color-stop (0.14, shade (#3c3c3c, 1.00)),
                                     color-stop (0.5, shade (#262626, 1.00)),
                                     color-stop (0.51, shade (#1a1a1a, 1.00)),
                                     color-stop (0.89, shade (#0b0c0b, 1.00)),
                                     color-stop (0.9, shade (#090a09, 1.00)),
                                     to (shade (#2f3231, 1.05)));
	
}

PanelApplet .button:prelight:backdrop,
PanelApplet .button:prelight {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#8b8e85, 1.05)),
                                     color-stop (0.5, shade (#444645, 1.00)),
                                     color-stop (0.51, shade (#141614, 1.00)),
                                     color-stop (0.89, shade (#0b0c0b, 1.00)),
                                     color-stop (0.9, shade (#090a09, 1.00)),
                                     to (shade (#2f3231, 1.05)));	
}

PanelApplet .button:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.95)),
                                     to (shade (@dark_bg_color, 1.1)));
}

PanelApplet .button:checked:prelight {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 1.3)));
}

PanelApplet .button:checked:prelight:active {
    border-image: none;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.75)),
                                     to (shade (@dark_bg_color, 0.9))); 
    border-color: shade (@dark_bg_color, 0.8);
}

ClockBox {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
}

WnckPager, WnckTasklist {
    background-color: @dark_bg_color;
}

/* Zorin Hack */
GtkPlug.background > GtkBox.vertical > GtkMenuBar {


    background-color: black;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#463e39),
                                     to (#1f1d1b));

    color: white;
}
