/* Borders */
.menubar > menuitem:hover,
menubar > menuitem:hover {
    border: 1px solid #1c2173;
    border-bottom-width: 0px;
    border-radius: 0 0 0 0;
}

/*********
 * entry *
 *********/
spinbutton,
entry {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

spinbutton,
entry {
    border-image: url("assets/entry.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

spinbutton:backdrop,
entry:backdrop {
    border-image: url("assets/backdrop-entry.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

spinbutton:focus,
entry:focus {
    border-image: url("assets/entry-focused.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

spinbutton:disabled,
entry:disabled {
    border-image: url("assets/entry-disabled.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

spinbutton:disabled:backdrop,
entry:disabled:backdrop {
    border-image: url("assets/backdrop-entry-disabled.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

spinbutton entry,
spinbutton entry:focus,
spinbutton entry:disabled,
spinbutton entry:disabled:backdrop,
spinbutton entry:backdrop {
    margin: 1px;
    border-image: none;
}

.primary-toolbar entry,
menubar toolbar entry,
headerbar entry {
    border-image: url("assets/entry-toolbar.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar entry:focus,
menubar toolbar entry:focus,
headerbar entry:focus {
    border-image: url("assets/entry-toolbar-focused.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar entry progress,
menubar toolbar entry progress,
headerbar entry progress {
    border-radius: 8px;
    border-width: 0;
}

/******************
 * comboboxentry *
 ******************/
combobox entry:first-child,
combobox entry button:first-child {
    border-image-width: 10px 1px 10px 12px;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

combobox entry:last-child,
combobox entry button:last-child {
    border-image-width: 10px 12px 10px 1px;
    border-radius: 0 8px 8px 0;
    border-left-width: 0;
}

combobox entry button {
    border-image: url("assets/combobox-button.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

combobox entry button:backdrop {
    border-image: url("assets/backdrop-combobox-button.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

combobox entry button:focus {
    border-image: url("assets/combobox-button-focused.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

combobox entry button:disabled {
    border-image: url("assets/combobox-button-disabled.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

combobox entry button:disabled:backdrop {
    border-image: url("assets/backdrop-combobox-button-disabled.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

combobox entry button:active:focus {
    border-image: url("assets/combobox-button-pressed-focused.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

.primary-toolbar combobox entry button,
.primary-toolbar combobox entry button:focus:disabled,
menubar toolbar combobox entry button,
menubar toolbar combobox entry button:focus:disabled,
headerbar combobox entry button,
headerbar combobox entry button:focus:disabled {
    border-image: url("assets/combobox-entry button-toolbar.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

.primary-toolbar combobox entry button:focus,
menubar toolbar combobox entry button:focus,
headerbar combobox entry button:focus {
    border-image: url("assets/combobox-entry button-toolbar-focused.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

.primary-toolbar combobox entry button:focus:active:focus,
menubar toolbar combobox entry button:focus:active:focus,
headerbar combobox entry button:focus:active:focus {
    border-image: url("assets/combobox-entry button-toolbar-pressed-focused.png") 10 12 10 1 / 10px 12px 10px 1px stretch;
}

.primary-toolbar combobox entry:first-child,
.primary-toolbar combobox entry button:first-child,
menubar toolbar combobox entry:first-child,
menubar toolbar combobox entry button:first-child,
headerbar combobox entry:first-child,
headerbar combobox entry button:first-child {
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

.primary-toolbar combobox entry:last-child,
.primary-toolbar combobox entry button:last-child,
menubar toolbar combobox entry:last-child,
menubar toolbar combobox entry button:last-child,
headerbar combobox entry:last-child,
headerbar combobox entry button:last-child {
    border-image-width: 10px 12px 10px 1px;
    border-radius: 0 8px 8px 0;
    border-left-width: 0;
}

.trough,
trough,
trough.highlight {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.trough,
trough {
    border-image: url("assets/progressbar-horizontal-trough.png") 6 7 6 7 / 6px 7px 6px 7px stretch;
}

progressbar.horizontal trough {
    border-image-source: url("assets/progressbar-horizontal-trough.png");
    border-image-slice: 6 7 6 7;
    border-image-width: 6px 7px 6px 7px;
    border-image-repeat: stretch;
      background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff));  
   
   border-radius: 0px;
}

progressbar.vertical trough {
    border-image-source: url("assets/progressbar-vertical-trough.png");
    border-image-slice: 7 6 7 6;
    border-image-width: 7px 6px 7px 6px;
    border-image-repeat: stretch;
      background-image: -gtk-gradient (linear, left top, right top,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff));   
   
}

switch {
    border-image: url("assets/switch-trough-off.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

switch:checked {
    border-image: url("assets/switch-trough-on.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar switch,
menubar toolbar switch,
headerbar switch {
    border-image: url("assets/switch-trough-toolbar-off.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

.primary-toolbar switch:checked,
menubar toolbar switch:checked,
headerbar switch:checked {
    border-image: url("assets/switch-trough-toolbar-on.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

/* XXX temporary */
switch:backdrop,
switch:checked:backdrop,
switch:disabled,
switch:checked:disabled {
    border-image: url("assets/switch-trough-disabled.png") 10 12 10 12 / 10px 12px 10px 12px stretch;
}

switch slider {
    border-image: url("assets/switch-button-off.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

switch:checked slider {
    border-image: url("assets/switch-button-on.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

/* XXX temporary */
switch:backdrop slider,
switch:disabled slider {
    border-image: url("assets/switch-button-off-disabled.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

/* XXX temporary */
switch:active:backdrop slider,
switch:active:disabled slider {
    border-image: url("assets/switch-button-on-disabled.png") 9 11 9 11 / 9px 11px 9px 11px stretch;
}

progressbar.horizontal progress,
progressbar.horizontal progress row,
progressbar.horizontal progress row,
progressbar.horizontal progress row:selected,
progressbar.horizontal progress row:selected:focus {
    border-image: url("assets/progressbar-horizontal-fill.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
    background-image: -gtk-gradient (linear,
                                     right top, left bottom,
                                     from (alpha (#ffffff, 0.58)),
                                     color-stop (0.5,alpha (#ffffff, 0.2)),
                                     color-stop (0.5001,alpha (#ffffff, 0.0)),
                                     to (alpha (#ffffff, 0.0))),
                      -gtk-gradient (linear, left top, right top,  
                   from (#004EAE),  
                    color-stop (0.206,#1D6ABC),   
                    color-stop (0.225,#206DBD), 
                    color-stop (0.441,#4692CF),  
                    color-stop (0.461,#4A96D1), 
                    color-stop (0.618,#65B1DE), 
                    color-stop (0.637,#69B4E0), 
                    color-stop (0.755,#7DC9EA),  
                    color-stop (0.775,#81CCEC), 
                    color-stop (0.912,#99E3F7), 
                    color-stop (0.931,#9DE7F9), 
                               to (#A9F3FE));  
}


progressbar.vertical progress,
progressbar.vertical progress row,
progressbar.vertical progress row,
progressbar.vertical progress row:selected,
progressbar.vertical progress row:selected:focus {
    border-image: url("assets/progressbar-horizontal-fill.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
    background-image: -gtk-gradient (linear,
                                     left top, right bottom,
                                     from (alpha (#ffffff, 0.58)),
                                     color-stop (0.5,alpha (#ffffff, 0.2)),
                                     color-stop (0.5001,alpha (#ffffff, 0.0)),
                                     to (alpha (#ffffff, 0.0))),
                      -gtk-gradient (linear, left bottom, left top,  
                   from (#004EAE),  
                    color-stop (0.206,#1D6ABC),   
                    color-stop (0.225,#206DBD), 
                    color-stop (0.441,#4692CF),  
                    color-stop (0.461,#4A96D1), 
                    color-stop (0.618,#65B1DE), 
                    color-stop (0.637,#69B4E0), 
                    color-stop (0.755,#7DC9EA),  
                    color-stop (0.775,#81CCEC), 
                    color-stop (0.912,#99E3F7), 
                    color-stop (0.931,#9DE7F9), 
                               to (#A9F3FE));                
}

progressbar.horizontal trough,
progressbar.horizontal trough row {
    border-image: url("assets/progressbar-horizontal-trough.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
}

progressbar.vertical trough,
progressbar.vertical trough row {
    border-image: url("assets/progressbar-vertical-trough.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
}

/*
backdoor things are not funny so we don`t define it there.
.progressbar.trough:backdrop,
progressbar:backdrop trough progress,
progressbar row:backdrop,
progressbar row:hover:backdrop,
progressbar row:selected:backdrop,
progressbar row:selected:focus:backdrop {
    border-image: url("assets/progressbar-horizontal-fill-backdrop.png") 5 6 5 6 / 5px 6px 5px 6px stretch;
}

.progressbar.vertical:backdrop,
progressbar.vertical:backdrop trough progress {
    border-image: url("assets/progressbar-vertical-fill-backdrop.png") 6 5 6 5 / 6px 5px 6px 5px stretch;
}
*/

scale trough {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#84c5ff, 1.0)),
                                     to (shade (#0f41cd, 1.0))); 
    border-image: url("assets/scale-horizontal-trough.png") 2 6 2 6 / 2px 6px 2px 6px stretch;
}

scale trough:disabled {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#84c5ff, 1.05)),
                                     to (shade (#6e96ff, 1.05))); 
     border-image: url("assets/scale-horizontal-trough-disabled.png") 2 6 2 6 / 2px 6px 2px 6px stretch;
}

scale.vertical trough {
    border-image: url("assets/scale-vertical-trough.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

scale trough.vertical:disabled {
    border-image: url("assets/scale-vertical-trough-disabled.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

scale trough highlight.left {
    border-image: url("assets/scale-horizontal-fill.png") 2 6 2 6 / 2px 6px 2px 6px stretch;
}

scale trough.vertical:backdrop {
    border-image: url("assets/scale-vertical-trough-backdrop.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

scale:backdrop trough.highlight.left {
    border-image: url("assets/scale-horizontal-fill-disabled.png") 2 6 2 6 / 2px 6px 2px 6px stretch;
}

scale:backdrop trough.highlight.left {
    border-image: url("assets/scale-horizontal-fill-backdrop.png") 2 6 2 6 / 2px 6px 2px 6px stretch;
}

scale.vertical trough.highlight.bottom {
    border-image: url("assets/scale.vertical-vertical-fill.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

scale.vertical trough highlight.bottom:disabled {
    border-image: url("assets/scale-vertical-fill-disabled.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

scale.vertical trough highlight.bottom:backdrop {
    border-image: url("assets/scale-vertical-fill-backdrop.png") 6 2 6 2 / 6px 2px 6px 2px stretch;
}

