* {
    -GtkHTML-link-color: #f07746; /* @link_color */
    -GtkIMHtml-hyperlink-color: #f07746; /* @link_color */
    -GtkTextView-error-underline-color: #df382c; /* @error_color doesn't work due to a gtk bug */
    -WnckTasklist-fade-overlay-rect: 0;
    background-origin: border-box;
    background-clip: padding-box;
}

progressbar.horizontal * {
min-height: 20px;
}

progressbar.vertical * {
min-width: 20px;
}

.background {
    color: @fg_color;
    background-color: #f4f7f8;
}

/**********
 * button *
 **********/
button,
button.color,
button.text-button.toggle,
button.text-button.radio,
button.titlebutton,
button.image-button,
button.flat,
button.font,
button.file,
button.toggle.popup,
button.link {
border-radius: 0px;
  

    -gtk-icon-style: regular;
    padding: 5px 6px;
    min-height: 18px;
    min-width: 14px;
}

button.combo {
    -gtk-icon-style: regular;
    padding: 4px 6px;
    min-height: 18px;
    min-width: 12px;
}

button {
padding: 4px 6px;
border-radius: 0px;

    border-style: solid;
    border-image-width: 10px 12px 10px 12px;
    border-image-slice: 10 12 10 12;
    border-image-repeat: stretch;
    box-shadow: none;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F7FFFF),  
                    color-stop (0.500,#DAF7FF), 
                    color-stop (0.501,#C1EBFF), 
                               to (#6AC4FF));  
    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
    border-image-source: url("assets/button.png");
    border-radius: 0px;

}

button.flat {
    background-image: none;
    border-image-source: none;
    border-color: transparent;
}

button:focus {
    border-image-source: url("assets/button.png");
}

button:hover {
     background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E7FFFF),  
                    color-stop (0.500,#C5F6FF), 
                    color-stop (0.501,#8AE9FF), 
                               to (#4CD5FF));  
    border-image-source: url("assets/button.png"); 
}

button:hover:focus {
    border-image-source: url("assets/button.png");
}

button:checked:disabled,
button.flat:disabled,
button:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E5F5F8),  
                    color-stop (0.500,#DBEEF9), 
                    color-stop (0.501,#CBDEFC), 
                               to (#C5E4F5));
    border-image-source: url("assets/button-disabled.png");
}

button:disabled:backdrop {
    background-color: #ebebeb;

    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.2);
    border-image-source: url("assets/button-disabled.png");
}

button.flat:disabled,
button.flat:disabled:backdrop {
    background-color: transparent;
    border-image-source: none;
}

button:checked {
 background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#cecece),
                                     to (#e8e8e8));
    border-image-source: url("assets/button.png");
}

button:checked:focus {
    border-image-source: url("assets/button.png");
}

button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#FEFFFF),  
                    color-stop (0.500,#E5FEFF), 
                    color-stop (0.501,#CFF4FF), 
                               to (#7ED2FF)); 
    border-image-source: url("assets/button.png");
}

button:active:focus {
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DCF8FE),  
                    color-stop (0.500,#9ad5ff), 
                    color-stop (0.501,#6EC4FF), 
                               to (#3491FE)); 
    border-image-source: url("assets/button.png");
}

button:checked:disabled,
button:active:disabled {
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E5F5F8),  
                    color-stop (0.500,#DBEEF9), 
                    color-stop (0.501,#CBDEFC), 
                               to (#C5E4F5)); 
    border-image-source: url("assets/button.png");
}

/*
button.default {
    border-image-source: url("assets/button-default.png");
}

button.default:hover {
    border-image-source: url("assets/button-default-hover.png");
}

button.default:focus {
    border-image-source: url("assets/button-default-focused.png");
}

button.default:focus:hover {
    border-image-source: url("assets/button-default-focused-hover.png");
}
*/

button label {
    padding: 0px 0px 0px 4px;
}

button.destructive-action {
    background-image: linear-gradient(to bottom, #e03d3d, #ef2929);
    border-color: #8e0b0b;
    border-image: none;
    color: white;
    -gtk-icon-shadow: 0 1px shade(#9d4242, 1.15);
    outline-color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px shade(#9d4242, 1.15);
}

/******************
 * Linked Widgets *
 *****************/
.linked > entry,
.linked entry,
.linked button,
.linked > button,
.linked combobox box.linked button,
.linked > combobox > button,
combobox entry + box.linked button {
    border-radius: 0;
    border-image-width: 10px 0 10px 0;
    border-width: 1px 0 1px 0;
    box-shadow: inset -1px 0 shade (@bg_color, 0.84);
}

.linked > entry:first-child,
.linked entry:first-child,
.linked > button:first-child,
.linked button:first-child,
.linked combobox:first-child box.linked button,
.linked > combobox:first-child > button,
combobox:first-child entry + box.linked button {
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px 0 0 8px;
}

.linked > entry:last-child,
.linked entry:last-child,
.linked button:last-child,
.linked > button:last-child,
.linked combobox:last-child box.linked button,
.linked > combobox:last-child > button,
combobox:last-child entry + box.linked button {
    border-image-width: 10px 12px 10px 0;
    border-radius: 0 8px 8px 0;
    box-shadow: none;
}

.linked > entry:only-child,
.linked entry:only-child,
.linked > button:only-child,
.linked button:only-child,
.linked combobox:only-child box.linked button,
.linked > combobox:only-child > button,
combobox:only-child entry + box.linked button {
    border-image-width: 10px 12px 10px 12px;
    border-radius: 8px;
}

toolbar .linked button,
toolbar.primary-toolbar .linked button,
headerbar .linked button {
background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#f4f7fc, 1.05)),
                                     color-stop (0.5, shade (#dee8f6, 1.00)),
                                     color-stop (0.51, shade (#e6ebf4, 1.00)),
                                     to (shade (#d7dfec, 1.05)));
    
}

toolbar .linked button:first-child,
toolbar.primary-toolbar .linked button:first-child,
headerbar .linked button:first-child {
   
}

toolbar .linked button:last-child,
toolbar.primary-toolbar .linked button:last-child,
headerbar .linked button:last-child {
 
}

toolbar .linked button:active,
toolbar.primary-toolbar .linked button:active,
headerbar .linked button:active,
toolbar .linked button:disabled,
toolbar.primary-toolbar .linked button:disabled,
headerbar .linked button:disabled {
    box-shadow: none;
}

toolbar .linked button:only-child,
toolbar.primary-toolbar .linked button:only-child,
headerbar .linked button:only-child {
    box-shadow: none;
}

*:link,
*:visited {
  color: @link_color;
}

button separator { 
	color: shade(@bg_color, 1.30);
}

/* actionbar */
actionbar > revealer > box {
    padding: 6px;
    border-top: 1px solid @borders;
}

actionbar > revealer > box:backdrop {
    border-color: shade(@borders, 0.8);
}

/**************
 * ComboBoxes *
 **************/

combobox {
	padding: 0;
	text-shadow: 0 1px @button_text_shadow;
}

combobox:disabled {
	text-shadow: none;
	color: @insensitive_fg_color;
}

arrow {
    min-height: 16px;
    min-width: 16px;
    color: black;
}

combobox arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

combobox arrow:disabled,
combobox arrow:backdrop {
    color: @insensitive_fg_color;
}

/* calendar */
calendar {
    border: 1px solid @borders;
}

/****************
 * cell and row *
 ****************/
.cell checkbutton check {
	margin: 3px;
}

.cell {
    background-color: @base_color;
    border-radius: 0;
    border-width: 0;
}

row:selected,
row.activatable:selected {
    -GtkCheckButton-indicator-size: 13;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@selected_bg_color, 1.06)),
                                     to (shade (@selected_bg_color, 0.94)));
    border-top-color: shade (@selected_bg_color, 0.88);
    border-style: solid;
    border-width: 1px 0 0 0;
}



/*******************
 * check and radio *
 *******************/

check, radio {
    min-height: 14px;
    min-width: 14px;
    margin: 0 4px;
}

/* Draw a focus ring around the contained label ... */
checkbutton.text-button label {
    border: 1px solid transparent;
    border-radius: 5px;
}

checkbutton.text-button:focus label {
    border-color: @focus_color;
    background-color: @focus_bg_color;
}

checkbutton check, radiobutton radio {
	margin-left: 4px;
	margin-right: 4px;
}

/* ... unless it's a proper button, which already has a focus-colored border */
button.text-button:focus label {
    border: none;
    background: none;
}

menu radio * {
    box-shadow: none;
}

/*******************
 * treeview/coulumn-header header *
 *******************/

treeview header button,
treeview header button:active {
    border-radius: 0;
    border-width: 0 1px 1px 0;
    border-image: none;
}

treeview header button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#fefeff),
                                     to (#eeeeee));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
    box-shadow: inset -1px 0 shade (@bg_color, 1.1),
                inset 0 -1px shade (@bg_color, 1.1);

    text-shadow: 0 1px @none;
}

treeview header button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#f3faff),
                                     to (#ceebf1));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
}

treeview header button:focus,
treeview header button:active:hover,
treeview header button:active:hover,
treeview header button:active:focus,
treeview header button:focus:hover,
treeview header button:active,
treeview header button:hover {
border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
}


treeview header button:nth-child(last) {
    border-width: 0 0 1px 0;
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-color: white;
}

.content-view.view:hover {
    background-color: shade (@bg_color, 1.03);
}

.view.cell:selected,
.view.cell:active,
.view:selected,
.view:active,
.content-view.view:selected,
.content-view.view:active {
    background-color: @selected_bg_color;
}

:not(iconview).view.cell:disabled,
.content-view.view:disabled {
    background-color: @bg_color;
}



.content-view {
    -GdMainIconView-icon-size: 40;
}

/*********
 * entry *
 *********/
entry {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.96)),
                                     to (@base_color));
    padding: 5px 7px;

    color: @text_color;
}

entry.flat,
entry.flat:focus {
    padding: 2px;
}

entry selection,
entry:selected,
textview:selected,
entry:selected:focus {
    background-color: @selected_bg_color;
    background-image: none;
    color: @selected_fg_color;
}

entry:disabled {
    background-color: #f5f5f5;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@transparent),
                                     to (@transparent));

    color: mix (@text_color, @base_color, 0.4);
}

entry.read-only {
    background-color: #f5f5f5;
    background-image: none;
}

entry > image.left {
    padding-right: 5px;
}

entry > image.right {
    padding-left: 5px;
}


toolbar entry progress,
toolbar.primary-toolbar entry progress,
.primary-toolbar entry progress,
headerbar entry progress {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.8)),
                                     color-stop (0.1, shade (@selected_bg_color, 0.9)),
                                     to (shade (@selected_bg_color, 1.1)));
    border-width: 0;

    color: @selected_fg_color;
}

/* Application notification */
.app-notification,
.app-notification.frame {
    padding: 3px;
    border-width: 0 1px 1px;
    border-style: solid;
    background-color: @bg_color;
}

/************
 * expander *
 ************/

expander {
    color: @fg_color;
}

expander arrow {
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
    -gtk-icon-style: regular;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl) {
    margin-left: 5px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander arrow:hover {
    color: shade(@fg_color, 0.5);
}

expander arrow:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/*********
 * frame *
 *********/
frame {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: shade (@bg_color, 0.82);
    border-image: none;
    background: @bg_color;
    padding: 0px;
}

notebook.frame {
    border: none;
}

/* XXX: this is a copy of the above; adding notebook.frame stack there didn't
 * work */
frame border {
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #858585;
    border-image: none;
    background: @bg_color;
}

notebook.frame > stack {
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #858585;
    border-image: none;
    background: #fff;
}
.frame.flat, frame border.flat {
    border: none;
background: @bg_color;
}

scrolledwindow > viewport.frame,
frame > box > stack > scrolledwindow {
    border-style: none;
}

frame > box.vertical > scrolledwindow.frame {
    border-width: 1px 0px 1px 0px;
}


/****************
 * window-frame *
*/

decoration {
     border-radius: 0px;
     margin: 8px;
     background-color: #fff;
     border:solid 4px #93d5ff;
     box-shadow: 0 1px 2px #0144d0, 0 0 0 1px #0144d0; 
      }

tooltip.csd decoration,
decoration.csd.tooltip {
border-width: 0px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13); 
}

.popup decoration,
popup.csd decoration,
decoration.csd.popup,
.csd.popup {
    border-style: none;
    border-radius: 0;
    box-shadow: none;
}

/************
 * iconview *
 ************/
view,
.view {
    background-color: @base_color;
    color: @text_color;
}

view.view.cell {
background-color: #fff;
}

view.view.cell:selected,
view.view.cell:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 1.0)),
                                     to (shade (@selected_bg_color, 0.9)));
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: shade (@selected_bg_color, 0.8);
    border-bottom-color: shade (@selected_bg_color, 0.7);

    box-shadow: inset 1px 0 shade (@selected_bg_color, 1.05),
                inset -1px 0 shade (@selected_bg_color, 1.05),
                inset 0 1px shade (@selected_bg_color, 1.08),
                inset 0 -1px shade (@selected_bg_color, 1.0);
}

.rubberband,
view rubberband,
rubberband {
    background-color: alpha (@selected_bg_color, 0.35);
    border-color: @selected_bg_color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

view.cell {
   /* background-color: transparent;*/
}

/***********
 * infobar *
 ***********/
.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@info_bg_color, 1.04)),
                                     to (shade (@info_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @info_fg_color;

    border-color: shade (@info_bg_color, 0.8);
    border-bottom-color: shade (@info_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@info_bg_color, 1.08),
                inset -1px 0 shade (@info_bg_color, 1.08),
                inset 0 1px shade (@info_bg_color, 1.1),
                inset 0 -1px shade (@info_bg_color, 1.04);
}

.warning {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@warning_bg_color, 1.04)),
                                     to (shade (@warning_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @warning_fg_color;

    border-color: shade (@warning_bg_color, 0.8);
    border-bottom-color: shade (@warning_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@warning_bg_color, 1.08),
                inset -1px 0 shade (@warning_bg_color, 1.08),
                inset 0 1px shade (@warning_bg_color, 1.1),
                inset 0 -1px shade (@warning_bg_color, 1.04);
}

.question {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@question_bg_color, 1.04)),
                                     to (shade (@question_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @question_fg_color;

    border-color: shade (@question_bg_color, 0.8);
    border-bottom-color: shade (@question_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@question_bg_color, 1.08),
                inset -1px 0 shade (@question_bg_color, 1.08),
                inset 0 1px shade (@question_bg_color, 1.1),
                inset 0 -1px shade (@question_bg_color, 1.04);
}

.error {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@error_bg_color, 1.04)),
                                     to (shade (@error_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @error_fg_color;

    border-color: shade (@error_bg_color, 0.8);
    border-bottom-color: shade (@error_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@error_bg_color, 1.08),
                inset -1px 0 shade (@error_bg_color, 1.08),
                inset 0 1px shade (@error_bg_color, 1.1),
                inset 0 -1px shade (@error_bg_color, 1.04);
}

/********
 * menu *
 ********/
toolbar headerbar menu,
toolbar button menu,
toolbar.primary-toolbar button menu,
headerbar button menu,
menu,
.menu {
    background-image: -gtk-gradient (linear, left top, right top,  
                   from (#C7F0FF),  
                    color-stop (0.688,#DDF7FF), 
                    color-stop (0.715,#DFF8FF), 
                               to (#E9FBFF));  
    background-color: #f0f0f0;
    border-color: #0d157e;
    padding: 0;
    border-width: 1px;
    border-style: solid;

    color: @dark_fg_color;

    box-shadow: none;

    margin: 1px;
}

menu arrow {
    color: @dark_fg_color;
}

toolbar menu,
combobox menu {
    background-image: -gtk-gradient (linear, left top, right top,  
                   from (#C7F0FF),  
                    color-stop (0.688,#DDF7FF), 
                    color-stop (0.715,#DFF8FF), 
                               to (#E9FBFF));  
    background-color: #f0f0f0;
    border-color: #0d157e;
    border-width: 1px;
    border-style: solid;
    padding: 2px 2px;

    color: @fg_color;

    box-shadow: none;
}

menu:selected,
.menu:selected {
    background-color: @selected_bg_color;
    text-shadow: @none;
}

menu button:hover,
menu button:checked,
menu button:checked:disabled,
menu button:disabled,
menu button,
.menu button:hover,
.menu button:checked,
.menu button:checked:disabled,
.menu button:disabled,
.menu button {
    background-color: shade (@dark_bg_color, 1.08);
    background-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px;
}

.context-menu {
    font: regular medium;
}

/***********
 * menubar *
 ***********/
menubar,
.menubar {
    -GtkWidget-window-dragging: true;

    background-color: @bg_color;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DBF5FF),  
                    color-stop (0.525,#CCEEFF), 
                    color-stop (0.650,#BCE6FF), 
                               to (#9BD7FF));     
    border-width: 0px 0px 1px 0px;
    border-color: #000775;
    border-style: solid;

    color: @dark_fg_color;
    min-height: 24px;
}



menubar menuitem:hover,
.menubar.menuitem:hover,
.menubar menuitem:hover {
   padding: 3px 5px 3px 5px;
    border-color: #1c2173;
    border-radius: 0px;
    border-image: none;
    box-shadow: none;
    background-color: transparent;
    background-clip: border-box;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#E8F9FE),  
                    color-stop (0.467,#C9F2FD), 
                    color-stop (0.533,#98E6F4), 
                               to (#A2EBF7));  

    /*box-shadow: inset 0 1px 1px 0 shade (@dark_bg_color, 1.8);*/

    color: shade (@dark_fg_color, 1.1);
    text-shadow: none;
}

menubar menuitem {
margin: 0px;
}

menu > menuitem {
margin: 2px;
}

menubar > menuitem,
.menubar > menuitem {
   
    border: 1px solid transparent;
}

/************
 * menuitem *
 ************/
menuitem {
    padding: 3px 5px 3px 5px;
    background: transparent;
    border-radius: 0;
   
    text-shadow: none;
box-shadow: inset 2px 1px @none,
                inset -2px 1px @none,
                inset 1px 2px @none,
                inset 1px -2px @none,
                inset 1px 0 @none,
                inset -1px 0 @none,
                inset 0 1px @none,
                inset 0 -1px @none;


}


menuitem:hover {
  padding: 3px 5px 3px 5px;
}

/* Workaround for lp:949368 */
combobox menuitem * {
    color: @fg_color;
}

combobox menuitem *:hover {
    color: @selected_fg_color;
}


popover modelbutton:hover,
popover menuitem:checked:hover,
menuitem:hover,
menu menuitem:hover {
border-radius: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DDFFFF),  
                    color-stop (0.500,#C0FCFF), 
                    color-stop (0.501,#76EBFF), 
                               to (#85EFFF)); 
 
border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (@none),
                                 to (@none)) 3;
    border-image-width: 3px;

border-color: #020a7c ;
   
box-shadow:     inset 1px 0 #020a7c,
                inset -1px 0 #020a7c,
                inset 0 1px #020a7c,
                inset 0 -1px #020a7c;

/*
inset 2px 1px #bbcadc,
                inset -2px 1px #bbcadc,
                inset 1px 2px #bbcadc,
                inset 1px -2px #bbcadc,*/

   border-style:solid;
    /* all button border images have the same size and are sliced in the same way */
    color: shade (@dark_fg_color, 1.1);
    text-shadow: none;
}

menuitem check:checked,
menuitem radio:checked {
    color: @fg_color;
}

menu menuitem check:hover,
menu menuitem radio:hover {
    box-shadow: none;
}

toolbar headerbar menu menuitem:disabled,
toolbar headerbar menu menuitem *:disabled,
toolbutton menu menuitem:disabled,
toolbutton menu menuitem *:disabled,
toolbar button menu menuitem:disabled,
toolbar.primary-toolbar button menu menuitem:disabled,
toolbar button menu menuitem *:disabled,
toolbar.primary-toolbar button menu menuitem *:disabled,
headerbar button menu menuitem:disabled,
headerbar button menu menuitem *:disabled,
menuitem:disabled,
menuitem *:disabled {
    color: mix (@dark_fg_color, @dark_bg_color, 0.5);
   
}

toolbar menu menuitem:disabled,
toolbar menu menuitem *:disabled,
combobox menu menuitem:disabled,
combobox menu menuitem *:disabled {
    color: mix (@fg_color, @bg_color, 0.5);
   
}

menuitem calendar,
menuitem calendar button,
menuitem calendar.header,
menuitem calendar.view {
    background-color: @dark_bg_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: @dark_fg_color;
}

menuitem calendar {
    background-color: shade (@dark_bg_color, 1.3);
    background-image: none;
}

menuitem calendar:indeterminate {
    color: shade (@bg_color, 0.6);
}

menuitem entry {
    background-color: shade (@dark_bg_color, 1.3);
    background-image: none;

    color: @dark_fg_color;

    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 0.9))) 1;
    border-image-width: 1px;
}

toolbar scale trough,
toolbar.primary-toolbar scale trough,
toolbar scale trough:backdrop,
toolbar.primary-toolbar scale trough:backdrop,
headerbar scale trough,
headerbar scale trough:backdrop,
menuitem scale trough {
    background-color: @dark_bg_color;
    background-image: none;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 1.15))) 1;
    border-image-width: 1px;
}

menuitem accelerator {
    color: #0c1b42;
}

menuitem accelerator:hover {
    color: #2e4888;
}

menuitem accelerator:disabled {
    color: alpha (mix (@dark_fg_color, @dark_bg_color, 0.5), 0.5);
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

menuitem > box > image + label {
    padding-left: 6px;
}

menu separator,
.menu separator,
menuitem separator {
    min-height: 1px;
/*blxhack*/
    background-color: #58b2f8;
    border-style: none;
}

/* fix for broken firefox */
menu separator,
menu .separator {
    color: shade(@fg_color, 0.7);
}

menuitem > arrow {
    min-height: 16px;
    min-width: 16px;
    margin-left: 10px;
    color: @dark_fg_color;
}

menu > menuitem > arrow:dir(ltr),
.menu > menuitem > arrow:dir(ltr) {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

menu > menuitem > arrow:dir(rtl),
.menu > menuitem > arrow:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

menu > arrow.top,
.menu > arrow.top {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom,
.menu > arrow.bottom {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/************
 * notebook *
 ************/
notebook {
    padding: 0;
    background-clip: border-box;
}

notebook.frame {
    background-clip: border-box;
}


notebook header.top tab { padding: 4px 6px 2px 6px; }
notebook header.top tab:checked { padding-bottom: 3px; }
notebook header.bottom tab { padding: 2px 6px 4px 6px; }
notebook header.bottom tab:checked { padding-top: 3px; }
notebook header.left tab { padding: 2px 4px 2px 6px; }
notebook header.left tab:checked { padding-right: 5px; }
notebook header.right tab { padding: 2px 6px 2px 4px; }
notebook header.right tab:checked { padding-left: 5px; }

notebook header {
    border-width: 0; /* set below depending on position of tab bar */
    border-color: #858585;
    border-style: solid;
}

/* Draw a border between tabs and content ... */
notebook:not(.frame) header.top { border-bottom-width: 1px; }
notebook:not(.frame) header.right { border-left-width: 1px; }
notebook:not(.frame) header.left { border-right-width: 1px; }
notebook:not(.frame) header.bottom { border-top-width: 1px; }

notebook.frame header.top { border-bottom: 1px solid @bg_color; }

notebook header tab {
    margin: 3px 1px -2px 0px;
   background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F3FCFF),  
                    color-stop (0.471,#E2F6FF), 
                    color-stop (0.529,#CEEEFE), 
                               to (#B0DFF7)); 
    border-radius: 0px 0px;
    border-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #858585;
}

notebook header.top tab:checked,
notebook header.top tab:checked:hover {
    margin: 0px 1px -2px 0px;
    background-image: linear-gradient(to bottom,
                                      white,
                                      white);
    border-radius: 1px 1px 0px 0px;
    border-image: none;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #858585;
}

notebook header.right tab {
    margin: 0px 3px 1px -1px;
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F3FCFF),  
                    color-stop (0.471,#E2F6FF), 
                    color-stop (0.529,#CEEEFE), 
                               to (#B0DFF7));
    border-radius: 0px 1px 1px 0px;
    border-image: none;
    border-width: 1px;
    border-style: solid;
}

notebook header.right tab:checked,
notebook header.right tab:checked:hover {
    margin: 0px 0px 1px -1px;
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#ffffff, 1.0)),
                                     to (shade (#ffffff, 1.0)));
background-color: @bg_color;
    border-radius: 0px 1px 1px 0px;
    border-image: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}

notebook header.left tab {
    margin: 0px -1px 1px 3px;
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F3FCFF),  
                    color-stop (0.471,#E2F6FF), 
                    color-stop (0.529,#CEEEFE), 
                               to (#B0DFF7));
    border-radius: 1px 0px 0px 1px;
    border-image: none;
    border-width: 1px;
    border-style: solid;
}

notebook header.left tab:checked,
notebook header.left tab:checked:hover {
    margin: 0px -1px 1px 0px;
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#ffffff, 1.0)),
                                     to (shade (#ffffff, 1.0)));
background-color: @bg_color;
    border-image: none;
    border-radius: 1px 0px 0px 1px;
    border-width: 1px 0px 1px 1px;
}

notebook header.bottom tab {
    margin: -1px 1px 3px 0px;
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#F3FCFF),  
                    color-stop (0.471,#E2F6FF), 
                    color-stop (0.529,#CEEEFE), 
                               to (#B0DFF7));
    border-radius: 0px 0px 1px 1px;
    border-image: none;
    border-width: 1px;
    border-style: solid;
}

notebook header.bottom tab:checked,
notebook header.bottom tab:checked:hover {
    margin: -1px 1px 0px 0px;
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#ffffff, 1.0)),
                                     to (shade (#ffffff, 1.0)));
background-color: @bg_color;
    border-radius: 0px 0px 1px 1px;
    border-image: none;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

/*

/ Draw a focus ring around labels in tabs /
notebook tab label {
    border: 1px solid transparent;
    border-radius: 5px;
}


notebook:focus tab:checked label {
    border-color: @focus_color;
    background-color: @focus_bg_color;
}
*/

notebook GtkDrawingArea {
     background-color: white;
}

notebook.frame {
background:none;
border-width: 0px;
}


notebook.frame box {


    padding: 0px;
    margin: 0px;

}

/******************
 * pane separator *
 ******************/

paned separator {
    background-color: transparent;
    border-color: shade (@bg_color, 0.84);
}

/************
 * Pathbars *
 ************/
.path-bar button.text-button,
.path-bar button.image-button,
.path-bar button {
  padding-left: 4px;
  padding-right: 4px;
}

.path-bar button.text-button.image-button label {
  padding-left: 0;
  padding-right: 0;
}

.path-bar button.text-button.image-button label:last-child,
.path-bar button label:last-child {
  padding-right: 8px;
}

.path-bar button.text-button.image-button label:first-child,
.path-bar button label:first-child {
  padding-left: 8px;
}

.path-bar button image {
  padding-left: 4px;
  padding-right: 4px;
}

.path-bar button.slider-button {
  padding-left: 0;
  padding-right: 0;
}


/*************************
 * progressbar and scale *
 *************************/
.progressbar,
scale,
progressbar {
    border-radius: 8px;
    border-width: 0px;
    padding: 3px;
}

menubar menuitem scale highlight.left,
scale highlight.left,
progressbar trough progress,
row progressbar,
row:hover progressbar,
row:selected progressbar,
row:selected:focus progressbar,
row:nth-child(odd) progressbar,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus,
.progressbar row:nth-child(odd),
entry progress {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom,
                                      @progressbar_fill_a,
                                      @progressbar_fill_b);
    border-top-color: shade(@button_border_active, 0.80);
    border-left-color: shade(@button_border_active, 0.85);
    border-right-color: shade(@button_border_active, 0.85);
    border-bottom-color: shade(@button_border_active, 0.80);
    color: @theme_fg_color;
    text-shadow: none;
}



scale highlight.left:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.95)),
                                     to (shade (@bg_color, 0.85)));
}

scale highlight.bottom:disabled {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@bg_color, 0.95)),
                                     to (shade (@bg_color, 0.85)));
}

.trough,
trough,
trough row,
trough row:hover,
trough row:selected,
trough row:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff));
    border-style: solid;
    border-width: 1px;

    color: @text_color;
}

.trough.vertical,
trough.vertical {
   background-image: -gtk-gradient (linear, left top, right top,  
                   from (#fbfdff),  
                    color-stop (0.231,#D4E8FA),   
                    color-stop (0.385,#C8E6FC), 
                    color-stop (0.538,#C3E9FF),  
                    color-stop (0.692,#CAEFFF), 
                    color-stop (0.769,#CFF1FE), 
                    color-stop (0.846,#DAF4FC),  
                    color-stop (0.923,#E7F6FA),  
                               to (#f8feff)); 
}

/* level bars as used for password quality or remaining power */

levelbar {
    min-width: 34px;
    min-height: 3px;
}

levelbar.vertical {
    min-width: 3px;
    min-height: 34px;
}

levelbar trough {
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
}

levelbar.horizontal block {
    min-height: 3px;
}

levelbar.vertical block {
    min-width: 3px;
}

levelbar block.filled {
    border-width: 1px;
    border-style: solid;

    border-color: @selected_bg_color;
    background-color: #db6a3c;
}

levelbar.continuous block.filled {
    padding: 2px;
    border-radius: 2px;
}

levelbar block.filled:backdrop,
levelbar block.filled.high:backdrop,
levelbar block.filled.low:backdrop {
    background-color: @backdrop_filling_bg;
    border-color: @backdrop_filling_bg;
    background-image: none;
}


levelbar.horizontal.discrete block.filled {
    margin: 0 1px;
}

levelbar.vertical.discrete block.filled {
    margin: 1px 0;
}

levelbar block.filled.high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

levelbar block.filled.low {
    border-color: shade(@warning_bg_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_bg_color, 1.3),
                                      @warning_bg_color 75%,
                                      shade(@warning_bg_color, 0.90)
                                      );
}

levelbar block.filled.empty {
    background-color: transparent;
    background-image: none;
    border-color: alpha(@bg_color, 0.1);
}

levelbar block.filled.empty:backdrop {
    border-color: transparent;
    background-color: transparent;
}

/************
 * GtkScale *
 ************/

scale.vertical {
    min-height: 13px;
    min-width: 13px;
}

scale.horizontal {
    min-width: 13px;
    min-height: 13px;
}

scale.horizontal trough {
    min-height: 3px;
    border-radius: 6px;
 }


scale trough,
scale.vertical trough {
    min-width: 3px;
    border-radius: 6px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#0f41cd),
                                     to (#0f41cd));
    border-style: solid;
    border-width: 1px;
    color: @text_color;
}

scale.vertical trough {
    margin: 0 6px;
}



scale trough:disabled,
scale.horizontal trough:disabled,
scale.vertical trough:disabled {
    box-shadow: none;
}


scale trough:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.95)),
                                     to (shade (@bg_color, 0.85)));
}

scale.vertical trough:disabled {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@bg_color, 0.95)),
                                     to (shade (@bg_color, 0.85)));
}

scale.horizontal trough highlight:disabled,
scale.vertical trough highlight:disabled,
scale.horizontal trough highlight:backdrop,
scale.vertical trough highlight:backdrop {
    background-color: @backdrop_filling_bg;
    box-shadow: none;
    background-image: none;
}

/* defines the color of the actuall marks on the scale */
scale marks indicator {
	color: alpha(@fg_color, 0.3);
}

/* this makes marks visible */
scale.horizontal indicator,
scale.horizontal.fine-tune indicator {
    min-height: 8px;
    min-width: 1px;
}

scale.vertical indicator,
scale.vertical.fine-tune indicator {
    min-height: 1px;
    min-width: 8px;
}

scale slider,
scale slider:hover,
scale slider:disabled {
	border-radius: 8px;
	border-style: none;
	background-color: transparent;
	/* background-image in -assets variant */
}

scale.vertical slider,
scale.horizontal slider {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

scale.horizontal slider {
    min-width: 14px;
    min-height: 13px;
    margin: -9px 0px -9px 0px;
}

scale.vertical slider {
    min-height: 34px;
    min-width: 14px;
    margin: 0px -9px 0px -9px;
}

scale.horizontal.scale-has-marks-above.color,
scale.vertical.scale-has-marks-below.color {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

scale.scale-has-marks-above.color trough,
scale.scale-has-marks-below.color trough {
      border-color: @scale_highlight_border;
      border-radius: 3px;
      background-repeat: no-repeat;
}

scale.vertical.scale-has-marks-below.color slider {
    min-height: 20px;
    min-width: 22px;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 0px 0px 0px;
}

scale.horizontal contents:first-child:not(:only-child) slider {
    min-height: 22px;
}

scale.horizontal.scale-has-marks-above.color slider {
    min-height: 14px;
    min-width: 20px;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

scale.horizontal.scale-has-marks-above.color slider:hover,
scale.vertical.scale-has-marks-below.color slider:hover {
    background-size: 105%;
}

scale.horizontal.scale-has-marks-above.color.fine-tune slider,
scale.vertical.scale-has-marks-below.color.fine-tune slider,
scale.vertical.fine-tune slider:active,
scale.vertical.fine-tune slider:active:hover,
scale.horizontal.fine-tune slider:active,
scale.horizontal.fine-tune slider:hover:active {
	background-size: 80%;
}


/*************
 * scrollbar *
 *************/
scrollbar {
	-GtkScrollbar-activate-slider: 1;
	color: @transparent;
}

scrollbar button,
.scrolbar button:hover,
scrollbar button:disabled,
scrollbar button:disabled {
    border-width: 0px;
    border-radius: 0px;
    border-style: none;
    border-image: none;
    background-image: none;
    padding: 0px;
    background-color: @transparent;
	
}

scrollbar.vertical button,
scrollbar.vertical .button {
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (#e9e9e9),
                                     to (#fcfcfc));
    min-width: 16px;
    min-height: 16px;
    padding: 0px;
}

scrollbar.horizontal button,
scrollbar.horizontal .button {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#e9e9e9),
                                     to (#fcfcfc));
    min-width: 16px;
    min-height: 14px;
   
}

scrollbar.vertical button.up,
scrollbar.vertical button.up:disabled {
       -gtk-icon-source: url("assets/stepper-up-insens.png");

      
}

scrollbar.vertical button.up:hover {
        -gtk-icon-source: url("assets/stepper-up-prelight.png");
       
}

scrollbar.vertical button.down,
scrollbar.vertical button.down:disabled {
	-gtk-icon-source: url("assets/stepper-down-insens.png");

}

scrollbar.vertical button.down:hover {
	-gtk-icon-source: url("assets/stepper-down-prelight.png");

}

scrollbar.horizontal button.up,
scrollbar.horizontal button.up:disabled {
       -gtk-icon-source: url("assets/stepper-left-insens.png");
}

scrollbar.horizontal button.up:hover {
       -gtk-icon-source: url("assets/stepper-left-prelight.png");
}

scrollbar.horizontal button.down,
scrollbar.horizontal button.down:disabled {
	-gtk-icon-source: url("assets/stepper-right-insens.png");
}

scrollbar.horizontal button.down:hover {
	-gtk-icon-source: url("assets/stepper-right-prelight.png");
}




scrollbar.vertical trough {
min-width: 11px;
margin:0px;
        border-width: 1px;
        border-style: solid ; 
border-image: none;
        border-color: #1b2384;
border-top-width: 0px;
border-bottom-width: 0px;
border-right-color: #ffe3b3;
border-radius: 0px;
	background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (#fffbd6),
                                     to (#fffffb));
}

scrollbar.horizontal trough {
min-height: 11px;
margin: 0px;
        border-width: 1px;
        border-style: solid ; 
border-image: none;
        border-color: #1b2384;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-color: #ffe3b3;
border-radius: 0px;
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#fffbd6),
                                     to (#fffffb));
}



scrollbar slider,
scrollbar slider {
        border-width: 1px;
        border-style: solid ; 
        border-color: #979797;
        
       
}

scrollbar slider:hover {
        border-width: 1px;
        border-style: solid ; 
        border-color: #3c7fb1;
	border-radius: 2px;
     
}

scrollbar.vertical  slider,
scrollbar.vertical slider,
scrollbar.vertical .slider {
border-color: @transparent;
box-shadow: inset 2px 1px #1b2384,
                inset -2px 1px #1b2384,
                inset 1px 2px #1b2384,
                inset 1px -2px #1b2384,
                inset 1px 0 #f0f0f0,
                inset -1px 0 #f0f0f0,
                inset 0 1px #f0f0f0,
                inset 0 -1px #f0f0f0;
min-width: 10px;
min-height: 10px;
background-image:  -gtk-gradient (linear, left top, right top,  
                   from (#d3f5ff),   
                    color-stop (0.55,#b7e2ff), 
                    color-stop (0.551,#97d2ff),
                               to (#75b6ff));
 			 
}

scrollbar.horizontal slider,
scrollbar.horizontal .slider {
min-height: 11px;
border-color: @transparent;
box-shadow: inset 2px 1px #1b2384,
                inset -2px 1px #1b2384,
                inset 1px 2px #1b2384,
                inset 1px -2px #1b2384,
                inset 1px 0 #f0f0f0,
                inset -1px 0 #f0f0f0,
                inset 0 1px #f0f0f0,
                inset 0 -1px #f0f0f0;
 background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#d3f5ff),   
                    color-stop (0.55,#b7e2ff), 
                    color-stop (0.551,#97d2ff),
                               to (#75b6ff));

}


scrollbar.vertical slider:hover {
background-image:  -gtk-gradient (linear, left top, right top,  
                   from (#fff497),   
                    color-stop (0.55,#ffd754), 
                    color-stop (0.551,#ffc51d),
                               to (#ff9f02));  
}

scrollbar.horizontal slider:hover {
background-image:   -gtk-gradient (linear, left top, left bottom,  
                    from (#fff497),   
                    color-stop (0.55,#ffd754), 
                    color-stop (0.551,#ffc51d),
                               to (#ff9f02));  
}



/*******************
 * scrolled window *
 *******************/
.ubuntu-online-accounts.frame,
scrolledwindow.frame {
    border-top-color: shade (@bg_color, 0.84);
    border-right-color: shade (@bg_color, 0.76);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
    border-width: 1px;
    border-radius: 0;
    border-style: solid;
}

.ubuntu-online-accounts.frame {
    border-top-width: 0;
}

/*************
 * separator *
 *************/
separator,
.separator {
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: shade (@bg_color, 0.92);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

treeview.view separator,
treeview separator,
separator,
separator:hover {
    color: shade (@bg_color, 0.92);
}

separator.horizontal {
    border-width: 1px 0 1px 0;
}

separator.vertical {
    border-width: 0 1px 0 1px;
}

button separator {
    border-color: shade (@button_bg_color, 0.9);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

button separator:disabled {
    border-color: shade (@button_insensitive_bg_color, 0.96);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.3);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.3);
}

treemenu menuitem separator,
toolbar headerbar menuitem separator,
toolbutton menuitem separator,
.primary-toolbar button menuitem separator,
headerbar button menuitem separator,
menuitem separator {
     border-color: #fff;
    border-bottom-color: #fff;
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

toolbar menu separator,
combobox menu separator {
     border-color: alpha (shade (@dark_bg_color, 0.94), 0.35);
    border-bottom-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

/***********
 * sidebar *
 ***********/

filechooser box.search-bar,
#pathbarbox,
placessidebar.sidebar {
    background-color: shade (@bg_color, 0.95);

    color: @fg_color;
    text-shadow: 0 1px shade (shade (@bg_color, 0.95), 1.04);
}



placessidebar.sidebar row {
    min-height: 30px;
}

placessidebar.sidebar row:selected {
    color: @selected_fg_color;
    text-shadow: 0 1px shade (@selected_bg_color, 0.7);
}



placessidebar.sidebar .sidebar-icon {
    padding-left: 10px;
    padding-right: 10px;
}


/**************
 * spinbutton *
 **************/

spinbutton button:active,
spinbutton button:disabled,
spinbutton button {
    border-radius: 0;
}

spinbutton button:active:nth-child(last),
spinbutton button:disabled:nth-child(last)
spinbutton button:nth-child(last),
spinbutton button:active:backdrop:nth-child(last),
spinbutton button:disabled:backdrop:nth-child(last),
spinbutton button:backdrop:nth-child(last) {
    border-radius: 0 7px 7px 0;
}

spinbutton button,
spinbutton button:active,
spinbutton button:backdrop,
spinbutton button:active:backdrop,
spinbutton button:hover,
spinbutton button:hover:backdrop {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border-width: 0 0 0 1px;
    border-left-color: alpha (shade (@bg_color, 0.6), 0.22);
}

spinbutton.horizontal button:disabled {
    margin-top: 1px;
    margin-bottom: 1px;
    border-image: none;
}

spinbutton.horizontal button:last-child:disabled {
    margin-right: 3px;
}

spinbutton button:active {
    background-image: -gtk-gradient (radial, center center, 0.0, center center, 0.5,
                                     from (alpha (@selected_bg_color, 0.2)),
                                     to (alpha (@selected_bg_color, 0.0)));
}

spinbutton button:disabled,
spinbutton button:disabled:backdrop {
    border-left-color: alpha (shade (@bg_color, 0.6), 0.18);

    color: shade (@bg_color, 0.66);
}

spinbutton,
spinbutton:hover {
    color: @fg_color;
}

/***********
 * spinner *
 ***********/
@keyframes spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    color: @selected_bg_color;
    opacity: 0;
}

spinner:checked {
    animation: spinner 1s infinite linear;
    opacity: 1;
}

spinner:checked:backdrop {
    color: @backdrop_fg_color;
}

spinner:checked:disabled {
    opacity: 0.5;
}

/*************
 * statusbar *
 *************/
statusbar {
}

/**********
 * switch *
 **********/
switch {
    padding: 0;
    border-radius: 8px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#cecece),
                                     to (#e8e8e8));

    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

switch:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.93)),
                                     to (shade (@selected_bg_color, 0.99)));

    color: @selected_fg_color;
    text-shadow: 0 1px shade (@selected_bg_color, 0.7);
}

switch:focus {
    outline: 2px solid @focus_color;
    outline-offset: -2px;
    -gtk-outline-radius: 6px;
}

/* XXX temporary */
switch:backdrop,
switch:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.93)),
                                     to (shade (@bg_color, 0.99)));

    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

switch slider {
    padding: 1px;
    border-radius: 6px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.08)),
                                     color-stop (0.5, @button_bg_color),
                                     to (shade (@button_bg_color, 0.94)));

    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
}

switch slider:backdrop {
    background-image: none;
    background-color: @bg_color;

    color: @backdrop_fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.2);
}

/************
 * textview *
 ************/
textview {
    background-color: @base_color;
}

headerbar {
    padding: 2px 6px;
}

/*
 * Header Bars
 *
 * The following rules only style header bars when they are used as a window's
 * titlebar widget (i.e., they have .titlebar set as well).
 *
 * Some applications reuse their header bar as a primary toolbar on desktops
 * that prefer showing traditional title bars. The rules for those are further
 * down grouped with normal toolbars.
 */
titlebar.headerbar,
.titlebar {
    padding: 2px;
 /*  importing menubar not this:  background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF));   */

background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#DBF5FF),  
                    color-stop (0.525,#CCEEFF), 
                    color-stop (0.650,#BCE6FF), 
                               to (#9BD7FF));    


    border-bottom-color: #000085;
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-radius: 0;


    color: @dark_fg_color;
    text-shadow: none;

    /*now done in csd decoration section !:caution:!*/
}

titlebar.headerbar .title,
.titlebar .title {
    font: bold;
}

titlebar.headerbar .subtitle,
.titlebar .subtitle {
    font-size: smaller;
    opacity: 0.5;
}



.maximized .titlebar {
    border-radius: 0;
    border: none;
}

.maximized .titlebar.toolbar-mode {
    box-shadow: none;
}

.titlebar button.titlebutton {
    background-clip: padding-box;
    min-width: 31px;
    min-height: 17px;
    border: 1px solid #5d6f88;
    color: #3d3c37;
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 0;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #c1d3e7,#c1d3e7 49%, #98b1cc 50%, #b7d0e9);
    border-image: none;
    box-shadow: inset 1px 0 #dfe8f2,
                inset -1px 0 #dfe8f2,
                inset 0 1px #dfe8f2,
                inset 0 -1px #dfe8f2;
}

.titlebar button.titlebutton.close {
    border: 1px solid #431422;
    color: #323112;
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.25);
    background-image: linear-gradient(to bottom, #de4c19, #e55e30 50%, #f58d6e);
    box-shadow: inset 1px 0 #f4d3cc,
                inset -1px 0 #f4d3cc,
                inset 0 1px #f4d3cc,
                inset 0 -1px #f4d3cc;
}

.titlebar button.titlebutton.close:hover {
    background-image: linear-gradient(to top, #e24f1b, #f17750 50%, #fba992);
}

.titlebar button.titlebutton:hover,
.titlebar button.titlebutton:backdrop:hover {
    background-image: linear-gradient(to bottom, #a7d6f2,#7cbfea 49%, #2c74a4 50%, #84eff7);
}

.titlebar button.titlebutton:active {
    -gtk-icon-shadow: none;
    background-image: linear-gradient(to bottom, #8bacce,#8bacce 49%, #4973a1 50%, #4973a1);
}

.titlebar button.titlebutton.close:active {
    background-image: linear-gradient(to top, #ec6e44, #e76b41);
}

.titlebar button.titlebutton:backdrop {
    color: #3d3c37;
    -gtk-icon-shadow: none;
    background-image: linear-gradient(to top, #605f59, #5b5a54);
}


/***********
 * toolbar *
 ***********/
toolbar,
.toolbar {
background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF));   
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-bottom-color: #000085;
    padding: 1px;

    background-color: @bg_color;
    color: @fg_color;
    text-shadow: none;
}

.toolbar:backdrop {
    color: @backdrop_fg_color;
}

/*******************
 * primary-toolbar *
 *******************/
toolbar,
toolbar.primary-toolbar,
.primary-toolbar,
headerbar,
.maximized headerbar.titlebar:not(:backdrop) {
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear, left top, left bottom,  
                   from (#ADDFFF),  
                    color-stop (0.125,#B7E4FF), 
                    color-stop (0.250,#BEE7FF), 
                    color-stop (0.750,#D7F3FF), 
                    color-stop (0.875,#DBF5FF), 
                               to (#DBF5FF)); 
    
    border-bottom-color: #b6bccc;
    border-top-color: #f4f7fc;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-radius: 0;

    color: @dark_fg_color;
    text-shadow: none;


}

.maximized headerbar.titlebar.toolbar-mode:not(:backdrop) {
    border-width: 0;
}

.primary-toolbar:disabled,
headerbar:disabled {
    text-shadow: none;
}

toolbar button,
toolbar.primary-toolbar button,
.primary-toolbar button,
headerbar button,
headerbar button:disabled,
.primary-toolbar button.flat:hover {
    background: transparent;
    border-image-source: url("assets/button-toolbar.png");
    padding: 7px;
    color: @dark_fg_color;
}

.primary-toolbar button,
headerbar button *,
headerbar button:disabled * {
}

toolbar button.flat,
toolbar.primary-toolbar button.flat,
.primary-toolbar button.flat {
    border-image-source: none;
    background: transparent;
}

toolbar button:focus,
toolbar.primary-toolbar button:focus,
.primary-toolbar button:focus,
headerbar button:focus {
    border-image-source: url("assets/button-toolbar-focused.png");
}

toolbar button:active,
toolbar button:checked,
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:checked,
.primary-toolbar button:active,
.primary-toolbar button:checked,
headerbar button:active,
headerbar button:checked {
    border-image-source: url("assets/button-toolbar-active.png");
}

toolbar button:active:focus,
toolbar button:checked:focus,
toolbar.primary-toolbar button:active:focus,
toolbar.primary-toolbar button:checked:focus,
.primary-toolbar button:active:focus,
.primary-toolbar button:checked:focus,
headerbar button:active:focus,
headerbar button:checked:focus,
headerbar button:hover:focus {
    border-image-source: url("assets/button-toolbar-active-focused.png");
}

toolbar button:hover,
toolbar.primary-toolbar button:hover,
toolbar.primary-toolbar button:hover,
.primary-toolbar button:checked,
.primary-toolbar button:hover,
.primary-toolbar button:checked,
headerbar button:hover,
headerbar button:checked {
    background-color: transparent;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (#eaf6fd, 1.05)),
                                     color-stop (0.50, shade (#d9f0fc, 1.00)),
                                     color-stop (0.51, shade (#bee6fd, 1.00)),
                                     to (shade (#a7d9f5, 1.05))); 
    border-image-source: url("assets/button-toolbar.png");
}

toolbar button:checked,
toolbar button:active,
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:checked,
.primary-toolbar button:active,
headerbar button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#dbdde2, 1.05)),
                                     color-stop (0.4, shade (#dfe4ee, 1.00)),
                                     color-stop (0.41, shade (#d9dfed, 1.00)),
                                     color-stop (0.42, shade (#d9dfed, 1.00)),
                                     color-stop (0.43, shade (#dee4f4, 1.00)),
                                     to (shade (#eaedfc, 1.05)));
    border-image-source: url("assets/button-toolbar-active.png");
    text-shadow: none;
}

toolbar button:checked:disabled,
toolbar button:disabled,
toolbar.primary-toolbar button:checked:disabled,
toolbar.primary-toolbar button:disabled,
.primary-toolbar button:checked:disabled,
.primary-toolbar button:disabled,
headerbar button:checked:disabled,
headerbar button:disabled {
    text-shadow: none;
}

toolbar button:disabled,
toolbar.primary-toolbar button:disabled,
.primary-toolbar button:disabled,
headerbar button:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.01)),
                                     to (shade (@dark_bg_color, 0.99)));
    border-image-source: url("assets/button-toolbar.png");
}

toolbar button.flat:disabled,
toolbar.primary-toolbar button.flat:disabled,
.primary-toolbar button.flat:disabled {
    background-image: none;
    border-image-source: inherit;
}

toolbar button:checked:disabled,
.primary-toolbar button:checked:disabled,
headerbar button:checked:disabled {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.94)),
                                     to (shade (@dark_bg_color, 1.02)));
    border-image-source: url("assets/button-toolbar.png");
}

toolbar.primary-toolbar separator,
.primary-toolbar separator,
.primary-toolbar separator:disabled,
headerbar separator,
headerbar separator:disabled {
    border-color: alpha (shade (@dark_bg_color, 0.94), 0.35);
    border-bottom-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

/* inline-toolbar */
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    border-right-color: shade (@bg_color, 0.86);
    border-bottom-color: shade (@bg_color, 0.88);
    border-left-color: shade (@bg_color, 0.86);

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#f2f1ef, 0.93)),
                                     color-stop (0.08, #f2f1ef),
                                     to (#ffffff));
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 3px 4px 4px 4px;
}

toolbar.inline-toolbar button {
    padding: 4px;

    -gtk-icon-shadow: 0 1px shade (@bg_color, 1.16);
}

/* Middle button */
toolbar.inline-toolbar button,
toolbar.inline-toolbar button:active,
toolbar.inline-toolbar button:focus,
toolbar.inline-toolbar button:focus:active,
toolbar.inline-toolbar button:disabled,
toolbar.inline-toolbar button:backdrop,
toolbar.inline-toolbar button:backdrop:disabled,
toolbar.inline-toolbar toolbutton button,
toolbar.inline-toolbar toolbutton button:active,
toolbar.inline-toolbar toolbutton button:focus,
toolbar.inline-toolbar toolbutton button:focus:active,
toolbar.inline-toolbar toolbutton button:disabled,
toolbar.inline-toolbar toolbutton button:backdrop,
toolbar.inline-toolbar toolbutton button:backdrop:disabled {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 10px 0 10px 0;
    border-radius: 0;
}

/* Leftmost button */
toolbar.inline-toolbar button:first-child,
toolbar.inline-toolbar button:active:first-child,
toolbar.inline-toolbar button:focus:first-child,
toolbar.inline-toolbar button:focus:active:first-child,
toolbar.inline-toolbar button:disabled:first-child,
toolbar.inline-toolbar button:backdrop:first-child,
toolbar.inline-toolbar button:backdrop:disabled:first-child,
toolbar.inline-toolbar toolbutton button:first-child,
toolbar.inline-toolbar toolbutton button:active:first-child,
toolbar.inline-toolbar toolbutton button:focus:first-child,
toolbar.inline-toolbar toolbutton button:focus:active:first-child,
toolbar.inline-toolbar toolbutton button:disabled:first-child,
toolbar.inline-toolbar toolbutton button:backdrop:first-child,
toolbar.inline-toolbar toolbutton button:backdrop:disabled:first-child {
    border-left-width: 1px;
    border-right-width: 0;
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
toolbar.inline-toolbar button:last-child,
toolbar.inline-toolbar button:active:last-child,
toolbar.inline-toolbar button:focus:last-child,
toolbar.inline-toolbar button:focus:active:last-child,
toolbar.inline-toolbar button:disabled:last-child,
toolbar.inline-toolbar button:backdrop:last-child,
toolbar.inline-toolbar button:backdrop:disabled:last-child,
toolbar.inline-toolbar toolbutton button:last-child,
toolbar.inline-toolbar toolbutton button:active:last-child,
toolbar.inline-toolbar toolbutton button:focus:last-child,
toolbar.inline-toolbar toolbutton button:focus:active:last-child,
toolbar.inline-toolbar toolbutton button:disabled:last-child,
toolbar.inline-toolbar toolbutton button:backdrop:last-child,
toolbar.inline-toolbar toolbutton button:backdrop:disabled:last-child {
    border-left-width: 0;
    border-right-width: 1px;
    border-image-width: 10px 12px 10px 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Single button */
toolbar.inline-toolbar button:only-child,
toolbar.inline-toolbar button:active:only-child,
toolbar.inline-toolbar button:focus:only-child,
toolbar.inline-toolbar button:focus:active:only-child,
toolbar.inline-toolbar button:disabled:only-child,
toolbar.inline-toolbar button:backdrop:only-child,
toolbar.inline-toolbar button:backdrop:disabled:only-child,
toolbar.inline-toolbar toolbutton button:only-child,
toolbar.inline-toolbar toolbutton button:active:only-child,
toolbar.inline-toolbar toolbutton button:focus:only-child,
toolbar.inline-toolbar toolbutton button:focus:active:only-child,
toolbar.inline-toolbar toolbutton button:disabled:only-child,
toolbar.inline-toolbar toolbutton button:backdrop:only-child,
toolbar.inline-toolbar toolbutton button:backdrop:disabled:only-child {
    border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 10px 12px 10px 12px;
    border-radius: 8px;
}

/***********
 * tooltip *
 ***********/
tooltip {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#fdfdfd),
                                     color-stop (0.50, shade (#fdfdfd, 1.00)),
                                     color-stop (0.51, shade (#e9ecf5, 1.00)),
                                     to (shade (#e9ecf5, 1.05)));
    box-shadow: none;
    border-color: #7283ad;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

    color: @fg_color;
}

tooltip label {
    color: @tooltip_fg_color;
}

/************
 * treeview *
 ************/
treeview.view.dnd {
    border-color: shade (@selected_bg_color, 1.12);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

treeview entry {
    background-image: none;
}

.view row:nth-child(odd) {
    /* zebra stripping, see LP#945430 */
    background-color: shade (@base_color, 0.965);
}

treeview.view {
	border-width: 1px;
	border-color: @selected_bg_color;
}

/************
 * viewport *
 ************/
viewport.frame {
    border-width: 0;
}

/************
 * listbox  *
 ************/
.list-rowbutton {
    border-image: none;
    border-style: none;
    border-radius: 0;
    background-image: none;
}

.list-rowbutton:selected {
    text-shadow: none;
}

/************
 * popover  *
 ************/
popover {
    background-clip: border-box;

    border-radius: 5px;
    border: 1px solid darker(@bg_color);

    box-shadow: 0 2px 3px @shadow_color;
    margin: 10px;
    padding: 2px;
}

popover:backdrop {
    box-shadow: none;
}

/* Popover menuitems are actually buttons. The following rules reset most of
 * the button styles for them.
 */
popover modelbutton,
popover modelbutton:checked,
popover modelbutton:hover,
popover modelbutton:active,
popover modelbutton:disabled,
popover modelbutton:backdrop,
popover menuitem,
popover menuitem:checked,
popover menuitem:hover,
popover menuitem:active,
popover menuitem:disabled,
popover menuitem:backdrop {
    border-image: none;
    border: none;
    text-shadow: none;
    border-radius: 3px;
}

popover modelbutton:backdrop:hover,
popover menuitem:backdrop:hover {
    border: none;
    border-image: none;
    background: transparent;
    color: @fg_color;
}

popover modelbutton:checked,
popover modelbutton check,
popover modelbutton check:checked,
popover modelbutton radio,
popover modelbutton radio:checked,
popover menuitem:checked,
popover menuitem.check,
popover menuitem.check:checked,
popover menuitem.radio,
popover menuitem.radio:checked {
    background-image: none;
    border: none;
}

popover modelbutton:disabled,
popover modelbutton *:disabled,
popover menuitem:disabled,
popover menuitem *:disabled {
    text-shadow: none;
    background: none;
}


/* menu buttons inside popovers */
modelbutton.flat,
popover.background checkbutton,
popover.background radiobutton,
menu button.flat {
    min-height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    outline-offset: -2px;
}

modelbutton.flat:hover,
popover.background checkbutton:hover,
popover.background radiobutton:hover,
menu button.flat:hover {
    background-color: #f4f4f4;
}

modelbutton.flat check:last-child,
popover.background checkbutton check:last-child,
popover.background radiobutton check:last-child,
modelbutton.flat radio:last-child,
popover.background checkbutton radio:last-child,
popover.background radiobutton radio:last-child,
menu button.flat check:last-child,
menu button.flat radio:last-child {
    margin-left: 8px;
}

modelbutton.flat check:first-child,
popover.background checkbutton check:first-child,
popover.background radiobutton check:first-child,
modelbutton.flat radio:first-child,
popover.background checkbutton radio:first-child,
popover.background radiobutton radio:first-child,
menu button.flat check:first-child,
menu button.flat radio:first-child
{
    margin-right: 8px;
}

menu arrow.left,
modelbutton.flat arrow.left,
popover.background checkbutton arrow.left,
popover.background radiobutton arrow.left {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

menu arrow.right,
modelbutton.flat arrow.right,
popover.background checkbutton arrow.right,
popover.background radiobutton arrow.right {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/* Floating bars */
.floating-bar {
    background-color: @info_bg_color;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: darker (@info_bg_color);
}


/* OSD overlays */
.osd,
.osd:backdrop {
    color: @osd_fg_color;
    background-color: @osd_bg_color;
    border-color: @osd_border_color;
}

.osd.toolbar {
    padding: 12px;
    border-radius: 8px;
}

.osd button,
.osd button:backdrop {
    color: @osd_fg_color;
    background: none;
    border: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 100ms ease-in-out;
    box-shadow: none;
}

/* buttons that are not part of an osd toolbar need a background */
button.osd,
button.osd:hover,
button.osd:active {
    background: @osd_bg_color;
    padding: 12px;
    box-shadow: none;
    border-image: none;
}

button.osd:hover,
.osd button:hover {
    color: lighter(@osd_fg_color);
    -gtk-icon-shadow: 0 0 3px @osd_fg_color;
}

button.osd:active,
.osd button:active {
    color: darker(@osd_fg_color);
    -gtk-icon-shadow: none;
}

/*************
 * overshoot *
 *************/
overshoot.top {
    background: -gtk-gradient(radial, center top, 0, center top, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.right {
    background: -gtk-gradient(radial, right center, 0, right center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.bottom {
    background: -gtk-gradient(radial, center bottom, 0, center bottom, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

overshoot.left {
    background: -gtk-gradient(radial, left center, 0, left center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

/**************
 * undershoot *
 **************/
undershoot {
    background: none;
}

/**************
 * Calendar   *
 **************/

calendar {
	padding: 1px;
}

calendar.view {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
    border-color: shade (@bg_color, 0.82);
	padding: 0px;
}

calendar.header {
	border-radius: 3px 3px 0px 0px;
	background-image: linear-gradient(to bottom,
		shade(@theme_bg_color, 1.04),
		shade(@theme_bg_color, 0.89));
	border-width: 0px;
}

calendar button,
calendar button:disabled {
	background-image: none;
	background-color: transparent;
}

calendar.highlight {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
	border-radius: 0px;
	padding: 0px;
	border-width: 0px;
}

/*****************************************************************************
 * states [please keep this section at the end of the file (CSS precedence)] *
 *****************************************************************************/
*:disabled {
    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

textview text selection,
text:selected,
*:selected, .gtkstyle-fallback:selected, flowbox flowboxchild:selected, GucharmapChartable:focus, GucharmapChartable:hover, GucharmapChartable:active, GucharmapChartable:selected, .gedit-document-panel-document-row:selected, .gedit-document-panel-document-row:selected:hover, GeditViewFrame .gedit-search-slider .not-found:selected, :focus:selected, GucharmapChartable:focus, .gedit-document-panel-document-row:focus:selected:hover, GeditViewFrame .gedit-search-slider .not-found:focus:selected {
  background-color:  alpha (@selected_bg_color, 0.9);
  color: #fff; }

label:selected,
*:selected,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);

    color: @selected_fg_color;
}



*:link,
*:visited {
    color: #f07746; /* @link_color */
}
